{% extends '::base.html.twig' %}
{% block title %}
    A Propos
{% endblock %}
{% block header %}   
    {{render(controller('BlogArticleBundle:Tool:header',{"active":"apropos"})) }}
{% endblock %}
{% block stylesheets %}
    {% stylesheets filter='uglifycss' "@BlogArticleBundle/Resources/public/css/service.css" %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    <style>
        section.module.parallax-2 {
            background-image: url("{{ asset("img/apropos.jpg")  }}");
            margin-top: 80px;
        }    
        .block
        {
            padding:40px;
        }
        .title-blue {
            font-size: 24px;
            letter-spacing: 1px;
            margin-bottom: 10px;
            color: darkblue;
            font-weight: 600;
        }
        .service-image {
            border-radius: 0;
            padding: 10px;
            background: #ccc;
        }
    </style>
{% endblock %}

{% block body %}
    <!-- produits -->
    <section id="back-container" class="block module parallax parallax-2">
        <div class="container">
            <div id="block" class="col-xs-12 text-center">
                <h1>A PROPOS</h1>
                <p>Vous satisfaire est notre priorité </p>

            </div>
        </div>
    </section>
    <div class="marginTop-lg">
        <div class="container">
            <svg id="array" class="arrows">
            <path class="a1" d="M0 0 L30 32 L60 0"></path>
            <path class="a2" d="M0 20 L30 52 L60 20"></path>
            <path class="a3" d="M0 40 L30 72 L60 40"></path>
            </svg>
        </div>
    </div>

    <div class="block marginTop-lg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 service-image">
                    <img data-sr="enter bottom, move 24px,reset" src="{{ asset("img/director.jpg")}}" alt="" class="img-responsive"/>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="inline-block title-blue">
                            QUI SOMMES-NOUS ?
                        </div>
                    </div>
                    <p>
                        CDS TECHNOLOGIES Sarl est une entreprise de droit Camerounais à vocation sous régionale. Dont la création résulte d'une réelle volonté de ses fondateurs, de disposer dans le domaine  des télécommunications au Cameroun, d’une grande entreprise pouvant offrir aux usagers de meilleurs prestations, une gamme variée de produits et de services innovants. Nous offrons des services à très forte valeur ajoutée dans le domaine des Télécommunications, du Génie Civil et de l'Electricité. Nous mettons notre expertise et notre expérience au service des entreprises afin de les accompagner dans l'étude, la conception, la mise en œuvre et la maintenance de leurs projets.

                        Situé au 4ième étage de l'immeuble « Le Soldeur » en face de l'entrée de la gare de BESSENGUE, CDS TECHNOLOGIES SARL est une entreprise citoyenne qui s’est donnée pour priorité de contribuer activement à l'essor de notre cher et beau pays le Cameroun, en passant par sa modernisation en terme d’infrastructures dans diverses catégories.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="block marginTop-lg grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="inline-block title-blue">
                            APPROCHE MANAGEMENT
                        </div>
                    </div>
                    <p>
                        Notre approche managériale a été développée pour assurer la cohérence de la prestation et la gestion de la qualité de service sur tous les projets sur lesquels nous intervenons tout en gardant a l'esprit l'épanouissement et la sécurité de l'Homme, principale ressource.  </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 service-image">
                    <img data-sr="enter bottom, move 24px,reset" src="{{ asset("img/reunion.jpg") }}" alt="" class="img-responsive"/>
                </div>                    
            </div>
        </div>
    </div>
    <div class="block marginTop-lg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="text-center">
                        <div class="inline-block title-blue">
                            CDS TEAM
                        </div>
                        <p>
                            Constituée d'une équipe d'ingénieurs et techniciens jeunes et dynamiques, CDS TECHNOLOGIES Sarl vous aide à étudier votre cahier de charges et veille à ce que toutes les ressources notamment humaines soient disponibles pour la livraison d'un produit à la hauteur de vos attentes et voir plus.  
                        </p>
                    </div>
                </div>
            </div>
            <div class="row padding-lg text-center">

                <div class="col-lg-offset-1 col-md-offset-1 col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <div class="text-center">
                        <img src="{{ asset("img/personnel/dg.png") }}" alt="Photo de M. Mathieu Roger DONGMO, Directeur Général CDS Technologies" class="img-responsive img-circle">
                    </div>
                    <br>
                    <div class="text-center">
                        <strong class="text-blue">Mathieu Roger DONGMO</strong>
                        <br>
                        <i>Directeur Général</i>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <div class="text-center">
                        <img src="{{ asset("img/personnel/daf.png") }}" alt="Photo de M. Paul Jeannot ATIOKENG, Directeur Administratif et Financier" class="img-responsive img-circle">
                    </div>
                    <br>
                    <div class="text-center">
                        <strong class="text-blue">Paul Jeannot ATIOKENG</strong>
                        <br>
                        <i>Directeur Administratif et Financier</i>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <div class="text-center">
                        <img src="{{ asset("img/personnel/projet.png") }}" alt="Photo de M. Simplice DILI, Chef de Projets" class="img-responsive img-circle">
                    </div>
                    <br>
                    <div class="text-center">
                        <strong class="text-blue">Simplice DILI</strong>
                        <br>
                        <i>Chef de Projets</i>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <div class="text-center">
                        <img src="{{ asset("img/personnel/qhse.png") }}" alt="Photo de M. Ange Gabriel SIKATI, Responsable QHSE" class="img-responsive img-circle">
                    </div>
                    <br>
                    <div class="text-center">
                        <strong class="text-blue">Ange Gabriel SIKATI</strong>
                        <br>
                        <i>Responsable QHSE</i>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <div class="text-center">
                        <img src="{{ asset("img/personnel/conducteur.png") }}" alt="Photo de M. AZEBAZE Diderot, Conducteur des travaux" class="img-responsive img-circle">
                    </div>
                    <br>
                    <div class="text-center">
                        <strong class="text-blue">AZEBAZE Diderot</strong>
                        <br>
                        <i>Conducteur des travaux</i>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %} 

{% block javascripts %}
    {% javascripts filter="uglifyjs2" output='js/compiled_*.js'   "@BlogArticleBundle/Resources/public/js/parallax.min.js"   %}  
    <script src="{{ asset_url }}"></script> {% endjavascripts %}
{% endblock %}
