{% extends '::base.html.twig' %}
{% block title %}
    Contacts
{% endblock %}
{% block header %}   
    {{render(controller('BlogArticleBundle:Tool:header',{"active":"contact"})) }}
{% endblock %}
{% block stylesheets %}
    {% stylesheets filter='uglifycss' "@BlogArticleBundle/Resources/public/css/service.css" "@BlogArticleBundle/Resources/public/css/contact.css" %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    
     <style>
        section.module.parallax-2 {
            background-image: url("{{ asset("img/contact.jpg")  }}");
            margin-top: 80px;
        }    
      
    </style>
{% endblock %}

{% block body %}
    <section id="back-container" class="block module parallax parallax-2">
        <div class="container">
            <div class="row">
                <div id="block" class="col-xs-12 text-center">
                    <h1>CONTACTS</h1>
                </div>
            </div>
        </div>
    </section>
    {% for flash_message in app.session.flashBag.get('message') %}
        <div id="cool" class='row'>
            <div class='container'>

                <p style="font-size: 22px;color: #666;" class="text-center"> <b style="color: green;font-size: 41px;" class="glyphicon glyphicon-ok"></b> {{ flash_message }}</p>

            </div>
        </div>
    {% endfor %}
    <div class="container">
        <div class="row">
            <div id='geoloc' class="col-sm-6 col-xs-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3979.8913075422183!2d9.69340611417663!3d4.042596997060269!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x106112f21cb2b691%3A0xcd97b36bf225d877!2sH%C3%B4tel+Serena!5e0!3m2!1sfr!2scm!4v1496132138154" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div id='contact' class="col-sm-6 col-xs-12 grey">
                <h1 class='featurette-heading'> Nous contacter </h1>
                <p> Pour nous contacter, veuillez remplir le formulaire ci-dessous.</p>
                <hr class='featurette-divider'>
                <form action method="post">
                    {{ form_row(form) }}
                    <input type="submit" value="Envoyer" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>

{% endblock %} 

{% block javascripts %}
    {% javascripts filter="uglifyjs2" output='js/compiled_*.js'   "@BlogArticleBundle/Resources/public/js/parallax.min.js"   %}  
    <script src="{{ asset_url }}"></script> {% endjavascripts %}
{% endblock %}
