{% extends '::base.html.twig' %}


{% block stylesheets %}
    {% stylesheets filter='uglifycss' "@BlogArticleBundle/Resources/public/css/style_common.css"  "@BlogArticleBundle/Resources/public/css/style10.css" "@BlogArticleBundle/Resources/public/css/owl.carousel.min.css" "@BlogArticleBundle/Resources/public/css/owl.theme.default.min.css"  %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <style>
        section.module.parallax-2 {
               background: #0d67ac;
            margin-top: 80px;
            padding-top: 9%
        }    
    </style>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            {% for slide in slides %}
                <div   class="item {% if loop.index==1 %} active {% endif %}">
                    <img class="first-slide" src="{% path slide.image,"reference" %}" alt="Slide{{ loop.index }}">
                    <div class="container">
                        <div class="carousel-caption hidden-xs">
                            <h1> {{ slide.name|slice(0,53) }}</h1>
                            {{ slide.descr|slice(0, 436) }}<br>
                           {% if slide.lien %} <a href="{{ slide.lien}}" class="btn btn-default">En savoir plus</a> {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">PrÃ©cÃ©dent</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Suivant</span>
        </a>
    </div><!-- /.carousel -->
    <div class="marginTop-lg">
        <div class="container">
            <svg id="array" class="arrows">
            <path class="a1" d="M0 0 L30 32 L60 0"></path>
            <path class="a2" d="M0 20 L30 52 L60 20"></path>
            <path class="a3" d="M0 40 L30 72 L60 40"></path>
            </svg>
        </div>
    </div>
    <!-- servicess -->
    <div class="marginTop-lg block">
        <div class="container">
            <div class="row margin-md">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="text-center">
                        <h2 id="service"> Nos <strong>Services</strong> </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="services col-sm-6 col-sm-12 col-xs-12"  data-sr="enter top, move 10px">
                    <div class="service-img-container">
                        <div> <img src="{{ asset("img/service1.jpg") }}" class="img-responsive w100" alt=""></div>
                    </div>
                    <h3>
                        <a href="{{ path("service")}}#ro" class="text-blue">
                            Réseaux Optiques
                        </a>
                    </h3>
                    <div>
                        <p>
                            Notre équipe étant principalement spécialisé dans les réseaux par fibre optique, nous proposons des services de bout en bout qui constituent un réseau optique de la phase de conception à la réalisation en tenant compte des spécifications du client. 
                        </p>
                        <a class="pull-right text-blue" href="{{ path("service")}}#rs">En savoir plus ></a>
                    </div>
                </div>
                <div class=" services col-sm-6 col-sm-12 col-xs-12" data-sr="enter top, move 10px">
                    <div class="service-img-container">
                        <div> <img src="{{ asset("img/service2.jpg") }}" class="img-responsive w100" alt=""> </div>
                    </div>
                    <h3>
                        <a href="{{ path("service")}}#ri" class="text-blue">
                            Réseaux informatiques
                        </a>
                    </h3>
                    <div>
                        <p>
                       Notre département spécialisé dans la réalisation la conception, l’optimisation, la sécurité et la maintenance  des systèmes informatiques et réseaux est à votre disposition pour vous proposer des solutions sur mesure, dans le respect des normes internationales des architectures.
                        </p>
                        <a class="pull-right text-blue" href="#">En savoir plus ></a>
                    </div>
                </div>
                <div class="services col-md-4 col-sm-6 col-sm-12 col-xs-12"  data-sr="enter top, move 10px">
                    <div class="service-img-container">
                        <div> <img src="{{ asset("img/service3.jpg") }}" class="img-responsive h100" alt=""> </div>
                    </div>
                    <h3>
                        <a href="{{ path("service")}}#sca" class="text-blue">
                       Sécurité et contrôle d’accès 
                        </a>
                    </h3>
                    <div>
                        <p>
                        Nos équipes grace leurs compétances dans la sécurité, mettent sur pieds des solutions mesures pour assurrer l’intégrité de vos infrastructures et ressources
                        </p>
                        <a class="pull-right text-blue" href="{{ path("service")}}#sca">En savoir plus ></a>
                    </div>
                </div>
                <div class="services col-md-4 col-sm-6 col-xs-12"  data-sr="enter top, move 10px">
                    <div class="service-img-container">
                        <div> <img src="{{ asset("img/service4.jpg") }}" class="img-responsive h100" alt=""> </div>
                    </div>
                    <h3>
                        <a href="{{ path("service")}}#ener" class="text-blue">
                           Energie
                        </a>
                    </h3>
                    <div>
                        <p>
                            Type de construction, situation, besoins de chacun en énergie... 
                            Nous calculons et simulons la performance globale de votre système énergétique et sélectionnons soigneusement les composants
                            pour vous fournir une solution sur mesure.
                        </p>
                        <a class="pull-right text-blue" href="{{ path("service")}}#energie">En savoir plus ></a>
                    </div>
                </div>
                <div class=" services col-md-4 col-sm-12 col-xs-12"  data-sr="enter top, move 10px">
                    <div class="service-img-container">
                        <div> <img src="{{ asset("img/service5.jpg") }}" class="img-responsive h100" alt=""> </div>
                    </div>
                    <h3>
                        <a href="{{ path("service")}}#rm" class="text-blue">
                           Réseaux mobiles : CDS Technologies
                        </a>
                    </h3>
                    <div>
                        <p>
                        a acquis et acquiert peu à peu une solide expérience dans ce domaine. Canopy, Shelter, local technique de sites télécoms, ... font partie de notre jargon.   
                        </p>
                        <a class="pull-right text-blue" href="{{ path("service")}}#rm">En savoir plus ></a>
                    </div>
                </div>

            </div>
            <div class="row marginTop-lg">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="text-center">
                        <a href="{{ path("service")}}" class="btn btn-blue">
                            TOUS LES SERVICES
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {#================== fin nos servicess ==============#}

    <!-- produits -->
    <section class="block module parallax parallax-2">
        <div class="container">
            <h1>CDS TECHNOLOGIES SARL<br><small data-sr="enter bottom, move 100px,reset"> The innovation, our priority</small></h1>
        </div>
    </section>

    {% if categories|length %}
        <!-- rÃ©fÃ©rences -->
        <div class="marginTop-lg block">
            <div class="container">
                <div class="row margin-md">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="text-center">
                            <h2> Nos <strong>Produits</strong> </h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for category in categories %}
                        <div class="view view-tenth">
                            <img src="{% path category.image,"lib" %}" />
                            <div class="mask">
                                <h2>{{ category.name }}</h2>
                                <p>{{ category.descr }}</p>
                                <a href="{{ path("product",{"slug":category.slug})}}" class="info">En savoir plus</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row marginTop-lg">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="text-center">
                            <a href="{{ path("produit")}}" class="btn btn-blue">
                                TOUTES LES CATEGORIES
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- rÃ©fÃ©rences -->
    {% endif %}
    <div class="marginTop-lg padding-lg grey">
        <div class="container">
            <div class="row margin-md">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="text-center">
                        <h2> NOS PARTENAIRES </h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 col-xs-6 part"  data-sr="enter top, move 10px">
                    <img src="{{ asset("img/nextel.png")}}" width="100px"> 
                    <img class="nope" src="{{ asset("img/nextel_black.png")}}"  width="100px"> 
                </div>
                <div class="col-sm-2 col-xs-6 part"  data-sr="enter top, move 10px">
                    <img src="{{ asset("img/cegelec.png")}}" width="100px"> 
                    <img class="nope" src="{{ asset("img/cegelec_black.png")}}" width="100px"> 
                </div>
                <div class="col-sm-2 col-xs-6 part"  data-sr="enter top, move 10px">
                    <img src="{{ asset("img/cotco.png")}}" width="100px"> 
                    <img class="nope" src="{{ asset("img/cotco_black.png")}}" width="100px"> 
                </div>

                <div class="col-sm-2 col-xs-6 part"  data-sr="enter top, move 10px">
                    <img src="{{ asset("img/camusat.png")}}" width="100px"> 
                    <img class="nope" src="{{ asset("img/camusat_black.png")}}" width="100px"> 
                </div>
                <div class="col-sm-2 col-xs-6 part"  data-sr="enter top, move 10px">
                    <img src="{{ asset("img/camrail.png")}}" width="100px"> 
                    <img class="nope" src="{{ asset("img/camrail_black.png")}}" width="100px"> 
                </div>
                <div class="col-sm-2 col-xs-6 part"  data-sr="enter top, move 10px">
                    <img src="{{ asset("img/orange.png")}}" width="100px"> 
                    <img class="nope" src="{{ asset("img/orange_black.png")}}" width="100px"> 
                </div>
            </div>
                <div class="row">
                <div class="col-sm-2 col-xs-6 part"  data-sr="enter top, move 10px">
                    <img src="{{ asset("img/eneo.png")}}" width="100px"> 
                    <img class="nope" src="{{ asset("img/eneo_black.png")}}"  width="100px"> 
                </div>
                <div class="col-sm-2 col-xs-6 part"  data-sr="enter top, move 10px">
                    <img src="{{ asset("img/art.png")}}" width="100px"> 
                    <img class="nope" src="{{ asset("img/art_black.png")}}" width="100px"> 
                </div>
                <div class="col-sm-2 col-xs-6 part"  data-sr="enter top, move 10px">
                    <img src="{{ asset("img/scg.png")}}" width="100px"> 
                    <img class="nope" src="{{ asset("img/scg_black.png")}}" width="100px"> 
                </div>

                <div class="col-sm-2 col-xs-6 part"  data-sr="enter top, move 10px">
                    <img src="{{ asset("img/php.png")}}" width="100px"> 
                    <img class="nope" src="{{ asset("img/php_black.png")}}" width="100px"> 
                </div>
                <div class="col-sm-2 col-xs-6 part"  data-sr="enter top, move 10px">
                    <img src="{{ asset("img/minpostel.png")}}" width="100px"> 
                    <img class="nope" src="{{ asset("img/minpostel_black.png")}}" width="100px"> 
                </div>
                <div class="col-sm-2 col-xs-6 part"  data-sr="enter top, move 10px">
                    <img src="{{ asset("img/iuc.png")}}" width="100px"> 
                    <img class="nope" src="{{ asset("img/iuc_black.png")}}" width="100px"> 
                </div>
            </div>
        </div>
    </div>
{% endblock %} 

{% block javascripts %}
    {% javascripts filter="uglifyjs2" output='js/compiled_*.js'  "@BlogArticleBundle/Resources/public/js/owl.carousel.min.js"  "@BlogArticleBundle/Resources/public/js/jquery.cbslideheader.min.js"%}  
    <script src="{{ asset_url }}"></script> {% endjavascripts %}

    <script>

        $(document).ready(function() {
            
            window.scrollReveal = new scrollReveal();
            $("#produit").owlCarousel({
                autoplay: true,
                autoplayTimeout: 3000,
                loop: true,
                navigation: false,
                navigationText: ["<span class='glyphicon glyphicon-chevron-left'></span>", "<span class='glyphicon glyphicon-chevron-right'></span>"],
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 2,
                    },
                    396: {
                        items: 2,
                    },
                    580: {
                        items: 2,
                    },
                    766: {
                        items: 3,
                    },
                    800: {
                        items: 2,
                    },
                    1000: {
                        items: 3,
                    }
                }
            });
        })

    </script>
{% endblock %}
