{% extends '::base.html.twig' %}
{% block title %}
    Nos Produits
{% endblock %}
{% block header %}   
    {{render(controller('BlogArticleBundle:Tool:header',{"active":"produit"})) }}
{% endblock %}
{% block stylesheets %}
    {% stylesheets filter='uglifycss' "@BlogArticleBundle/Resources/public/css/service.css"  "@BlogArticleBundle/Resources/public/css/style_common.css"  "@BlogArticleBundle/Resources/public/css/style10.css"%}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    <style>
        section.module.parallax-2 {
            background-image: url("{{ asset("img/produit.jpg")  }}");
            margin-top: 80px;
        }    
    </style>
{% endblock %}

{% block body %}
    <!-- produits -->
    <section id="back-container" class="block module parallax parallax-2">
        <div class="container">
            <div id="block" class="col-xs-12 text-center">
                <h1>NOS PRODUITS</h1>
                <p>Découvrez nos produits </p>
                <a class="btn btn-primary" href="#"> Telechargez notre catalogue</a>
            </div>
        </div>
    </section>
    <div class="marginTop-lg">
        <div class="container">
            <svg id="array" class="arrows">
            <path class="a1" d="M0 0 L30 32 L60 0"></path>
            <path class="a2" d="M0 20 L30 52 L60 20"></path>
            <path class="a3" d="M0 40 L30 72 L60 40"></path>
            </svg>
        </div>
    </div>

    <div class="marginTop-lg padding-lg">
        <div class="container">
            {% for category in categories %}
                <div data-sr="enter left, move 100px,reset" class="view view-tenth">
                    <img src="{% path category.image,"lib" %}" />
                    <div class="mask">
                        <h2>{{ category.name }}</h2>
                        <p>{{ category.descr }}</p>
                        <a href="{{ path("product",{"slug":category.slug})}}" class="info">En savoir plus</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %} 

{% block javascripts %}
    {% javascripts filter="uglifyjs2" output='js/compiled_*.js'   "@BlogArticleBundle/Resources/public/js/parallax.min.js"   %}  
    <script src="{{ asset_url }}"></script> {% endjavascripts %}
{% endblock %}
