{% extends '::base.html.twig' %}
{% block title %}
    {{ category.name }}
{% endblock %}
{% block header %}   
    {{render(controller('BlogArticleBundle:Tool:header',{"active":"produit"})) }}
{% endblock %}
{% block stylesheets %}
    {% stylesheets filter='uglifycss' "@BlogArticleBundle/Resources/public/css/lightbox.css" "@BlogArticleBundle/Resources/public/css/right.css" "@BlogArticleBundle/Resources/public/css/service.css"  %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    <style>
        section.module.parallax-2 {
            background-image: url("{% path category.image,"reference" %}");
            margin-top: 80px;
        }    
    </style>
{% endblock %}

{% block body %}
    <!-- produits -->
    <section id="back-container" class="block module parallax parallax-2">
        <div class="container">
            <div id="block" class="col-xs-12 text-center">
                <h1>{{ category.name }}</h1>
                <p>{{ category.descr|slice(0,270) }} </p>
            </div>
        </div>
    </section>
    <div class="marginTop-lg">
        <div class="container">
            <svg id="array" class="arrows">
            <path class="a1" d="M0 0 L30 32 L60 0"></path>
            <path class="a2" d="M0 20 L30 52 L60 20"></path>
            <path class="a3" d="M0 40 L30 72 L60 40"></path>
            </svg>
        </div>
    </div>

    <div class="marginTop-lg">
        <div class="container">
            <div class="col-md-9 col-sm-8 col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="{{ path("home")}}"><b class="glyphicon glyphicon-home"></b></a></li>
                    <li><a href="{{ path("produit")}}">Tous nos produits</a></li>
                    <li class="active">{{ category.name }}</li>
                </ol>
                <nav aria-label="Page navigation">

                    {% include 'BlogArticleBundle:Article:pagination.html.twig' %}


                </nav>
                {% for produit in produits %}
                    <div class=" text-center produit col-xs-12">
                        <div class="col-xs-3">
                            <div class="img-container">
                                <img src="{% path produit.imageD,"small" %}" alt="{{ produit.name }}">
                            </div>
                            {% if produit.image1 %}<span href="{% path produit.image1, 'reference' %}" data-lightbox="{{ produit.slug }}" data-title="{{ produit.name }}" class="hidden"></span>{% endif %}
                            {% if produit.image2 %} <span href="{% path produit.image2, 'reference' %}" data-lightbox="{{ produit.slug }}" data-title="{{ produit.name }}" class="hidden"></span>{% endif %}
                            <a href="{% path produit.imageD, 'reference' %}" data-lightbox="{{ produit.slug }}" data-title="{{ produit.name }}" id="zoom" class="text-blue"> <b class="glyphicon glyphicon-eye-open"></b> Voir plus</a>
                        </div>
                        <div class="col-xs-9 text-left">
                            <h4>{{ produit.name }}</h4>
                            <small style="
                                   color: #666;
                                   font-size: 10px;
                                   ">

                                Ref. {{ produit.ref }}<br>
                                {% if produit.prix %} Prix. <span class='price'>{{ produit.prix|number_format("0",","," ") }} FCFA</span> {% endif %}
                            </small><br>
                            <span> {{produit.category.name }}</span>
                            {% if produit.stock %}
                                <div class="dispo pull-right">
                                    Disponible
                                {% else %}
                                    <div class="indispo  pull-right">
                                        Sur commande 
                                    {% endif %}
                                </div>

                                <p> {{ produit.descr|slice(0, 156)}}</p>...

                            </div>
                            <div class="produit-descr col-xs-12">
                                <div class="text-center" href="#descr-prod{{produit.id}}" data-toggle="collapse"> <b class="glyphicon glyphicon-arrow-down"></b></div>
                                <p id="descr-prod{{produit.id}}" class="collapse">{{ produit.descr|nl2br}}</p>
                            </div>
                        </div>

                    {% endfor %}
                    <nav aria-label="Page navigation">
                        {% include 'BlogArticleBundle:Article:pagination.html.twig' %}  
                    </nav>

                </div>
                <div  class="col-md-3 col-sm-4 col-xs-12">
                    {{ render(controller('EDBlogBundle:Frontend/Sidebar:blogList')) }}        

                </div>
            </div>
        </div>
    </div>

{% endblock %} 

{% block javascripts %}
    {% javascripts filter="uglifyjs2" output='js/compiled_*.js'   "@BlogArticleBundle/Resources/public/js/lightbox.js"   %}  
    <script src="{{ asset_url }}"></script> {% endjavascripts %}
{% endblock %}
