{% extends '::base.html.twig' %}
{% block title %}
    Nos Services
{% endblock %}
{% block header %}   
    {{render(controller('BlogArticleBundle:Tool:header',{"active":"service"})) }}
{% endblock %}
{% block stylesheets %}
    {% stylesheets filter='uglifycss' "@BlogArticleBundle/Resources/public/css/service.css" %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    <style>
        section.module.parallax-2 {
            background-image: url("{{ asset("img/service.jpg")  }}");
            margin-top: 80px;
        }    
    </style>
{% endblock %}

{% block body %}
    <!-- produits -->
    <section id="back-container" class="block module parallax parallax-2">
        <div class="container">
            <div id="block" class="col-xs-12 text-center">
                <h1>NOS SERVICES</h1>
                <p>Vous satisfaire est notre priorité </p>
                <a class="btn btn-primary" href="#"> Telechargez nos services</a>
            </div>
        </div>
    </section>
    <div class="marginTop-lg">
        <div class="container">
            <svg id="array" class="arrows">
            <path class="a1" d="M0 0 L30 32 L60 0"></path>
            <path class="a2" d="M0 20 L30 52 L60 20"></path>
            <path class="a3" d="M0 40 L30 72 L60 40"></path>
            </svg>
        </div>
    </div>

    <div id="ro" class="container padding-lg">
        <div class="padding-lg text-center">
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6 col-xs-12 service-main">
                    <h1 class="featurette-heading">Réseaux Optiques</h1>
                    <img class="img-circle" src="{{ asset("img/service1.jpg") }}" alt="Reseaux optique" width="140" height="140">
                    <br>
                    <p>Notre équipe étant principalement spécialisé dans les réseaux par fibre optique, nous proposons des services de bout en bout qui constituent un réseau optique de la phase de conception à la réalisation en tenant compte des spécifications du client. 
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <img class="img-circle" src="{{ asset("img/survey.png") }}" alt="Generic placeholder image" width="140" height="140">
                    <h2>Survey</h2>
                    
                </div><!-- /.col-sm-4 -->
                <div class="col-sm-3">
                    <img class="img-circle" src="{{ asset("img/conception-realisation.png") }}" alt="Generic placeholder image" width="140" height="140">
                    <h2>Conception et réalisation</h2>        
                </div><!-- /.col-sm-4 -->
                <div class="col-sm-3">
                    <img class="img-circle" src="{{ asset("img/maintenance.png") }}" alt="Generic placeholder image" width="140" height="140">
                    <h2>Maintenance</h2>
                </div>
                <div class="col-sm-3">
                    <img class="img-circle" src="{{ asset("img/commissioning.jpg") }}" alt="Generic placeholder image" width="140" height="140">
                    <h2>Commissioning et decommissioning des équipements et outils</h2>
                </div><!-- /.col-sm-4 -->
            </div>
        </div>
    </div>
    <div id="ri" class="container-fluid grey padding-lg">
        <div class="container">
            <div class="text-center">
                <div class="row">
                    <div class="col-sm-offset-3 col-sm-6 col-xs-12 service-main">
                        <h1 class="featurette-heading">Réseaux informatiques </h1>
                        <img class="img-circle" src="{{ asset("img/service2.jpg") }}" alt="Réseaux informatique" width="140" height="140">
                        <p>Notre département spécialisé dans la réalisation la conception, l’optimisation, la sécurité et la maintenance  des systèmes informatiques et réseaux est à votre disposition pour vous proposer des solutions sur mesure, dans le respect des normes internationales des architectures.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <img class="img-circle" src="{{ asset("img/lan.png") }}" alt="Generic placeholder image" width="140" height="140">
                        <h2>Conception et réalisation d'architectures réseaux optimisées (LAN, MAN, WAN)</h2>                        

                    </div><!-- /.col-sm-4 -->
                    <div class="col-sm-3">
                        <img class="img-circle" src="{{ asset("img/voip.png") }}" alt="Generic placeholder image" width="140" height="140">
                        <h2>Solutions de téléphonie d'entreprise IP (TOIP / VOIP)</h2>
                    </div><!-- /.col-sm-4 -->
                    <div class="col-sm-3">
                        <img class="img-circle" src="{{ asset("img/admin-reseau.jpg") }}" alt="Generic placeholder image" width="140" height="140">
                        <h2>Administration et optimisation des réseaux</h2>
                    </div>
                    <div class="col-sm-3">
                        <img class="img-circle" src="{{ asset("img/virtualisation.png") }}" alt="Generic placeholder image" width="140" height="140">
                        <h2>Virtualisation simplifiée (Services, Systèmes)</h2>
                    </div><!-- /.col-sm-4 -->
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <img class="img-circle" src="{{ asset("img/firewall.png") }}" alt="Generic placeholder image" width="140" height="140">
                        <h2>Sécurité des réseaux (Parefeu, VPN, ...)</h2>                  
                    </div><!-- /.col-sm-4 -->
                    <div class="col-sm-3">
                        <img class="img-circle" src="{{ asset("img/shield.png") }}" alt="Generic placeholder image" width="140" height="140">
                        <h2>Déploiement applicatif divers (Antivirus, SAGE, ...)</h2>
                    </div>
                    <div class="col-sm-3">
                        <img class="img-circle" src="{{ asset("img/maintenance.png") }}" alt="Generic placeholder image" width="140" height="140">
                        <h2>Maintenance des systèmes informatiques (MSI)</h2>
                    </div>
                    <div class="col-sm-3">
                        <img class="img-circle" src="{{ asset("img/hardware-hotspot.png") }}" alt="Generic placeholder image" width="140" height="140">
                        <h2>Solutions de HotSpot WIFI</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sca" class="container padding-lg">
        <div class="text-center">
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6 col-xs-12 service-main">
                    <h1 class="featurette-heading"> Sécurité et contrôle d’accès </h1>
                    <img class="img-circle" src="{{ asset("img/service3.jpg") }}" alt="Sécurité et contrôle d’accès" width="140" height="140">

                    <p>  Nos équipes grace leurs compétances dans la sécurité, mettent sur pieds des solutions mesures pour assurrer l’intégrité de vos infrastructures et ressources
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img class="img-circle" src="{{ asset("img/security-camera.png") }}" alt="Generic placeholder image" width="140" height="140">
                    <h2>Vidéo surveillance analogique, numérique IP, hybride</h2>
                </div><!-- /.col-sm-4 -->
                <div class="col-sm-4">
                    <img class="img-circle" src="{{ asset("img/fingerprint.png") }}" alt="Generic placeholder image" width="140" height="140">
                    <h2>Contrôle d'accès magnétique et biométrique</h2>
                </div><!-- /.col-sm-4 -->
                <div class="col-sm-4">
                    <img class="img-circle" src="{{ asset("img/warning.png") }}" alt="Generic placeholder image" width="140" height="140">
                    <h2>Systèmes d'alarmes</h2>                    
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid grey padding-lg" id="ener">
        <div class="container">
            <div class="text-center">
                <div class="row">
                    <div class="col-sm-offset-3 col-sm-6 col-xs-12 service-main">
                        <h1 class="featurette-heading"> Energie</h1>
                        <img class="img-circle" src="{{ asset("img/service4.jpg") }}" alt="Energie" width="140" height="140">       
                        <p>
                            Type de construction, situation, besoins de chacun en énergie... 
                            Nous calculons et simulons la performance globale de votre système énergétique et sélectionnons soigneusement les composants
                            pour vous fournir une solution sur mesure.
                        </p>                 
                    </div>
                </div>
                <div class="col-sm-3">
                    <img class="img-circle" src="{{ asset("img/electrique.png") }}" alt="Generic placeholder image" width="140" height="140">
                    <h2>Installations des unités et blocs d'énergie</h2>
                </div><!-- /.col-sm-4 -->
                <div class="col-sm-3">
                    <img class="img-circle" src="{{ asset("img/groupe-electrogène.jpg") }}" alt="Generic placeholder image" width="140" height="140">
                    <h2>Installations de groupes électrogènes</h2>
                </div><!-- /.col-sm-4 -->
                <div class="col-sm-3">
                    <img class="img-circle" src="{{ asset("img/solaire.jpg") }}" alt="Generic placeholder image" width="140" height="140">
                    <h2>Installations des unités et blocs de panneaux solaires</h2>
                </div>
                <div class="col-sm-3">
                    <img class="img-circle" src="{{ asset("img/parafoudre.jpg") }}" alt="Generic placeholder image" width="140" height="140">
                    <h2>Installations des unités et blocs de Protection contre la foudre</h2>
                </div><!-- /.col-sm-4 -->
            </div>
        </div>
    </div>
    <div id="rm" class="container padding-lg">
        <div class="text-center">
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6 col-xs-12 service-main">
                    <h1  class="featurette-heading">Réseaux mobiles</h1>
                    <img class="img-circle" src="{{ asset("img/service5.jpg") }}" alt="Réseaux mobiles : CDS Technologies" width="140" height="140">
                    <p> CDS Technologies Sarl a acquis et acquiert peu à peu une solide expérience dans ce domaine. Canopy, Shelter, local technique de sites télécoms, ... font partie de notre jargon.   
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <img class="img-circle" src="{{ asset("img/moile.jpg") }}" alt="Generic placeholder image" width="140" height="140">
                    <h2>Conception et réalisation de sites mobiles</h2>
                </div><!-- /.col-sm-4 -->
                <div class="col-sm-3">
                    <img class="img-circle" src="{{ asset("img/commissioning.jpg") }}" alt="Generic placeholder image" width="140" height="140">
                    <h2>Commissioning et decommissioning des équipements</h2>
                </div><!-- /.col-sm-4 -->
                <div class="col-sm-3">
                    <img class="img-circle" src="{{ asset("img/maintenance.jpg") }}" alt="Generic placeholder image" width="140" height="140">
                    <h2>Maintenance des sites et équipements</h2>
                </div>
                <div class="col-sm-3">
                    <img class="img-circle" src="{{ asset("img/radio.jpg") }}" alt="Generic placeholder image" width="140" height="140">
                    <h2>Installations des équipements radio</h2>
                </div><!-- /.col-sm-4 -->
            </div>
        </div>
    </div>


{% endblock %} 

{% block javascripts %}
    {% javascripts filter="uglifyjs2" output='js/compiled_*.js'   "@BlogArticleBundle/Resources/public/js/parallax.min.js"   %}  
    <script src="{{ asset_url }}"></script> {% endjavascripts %}
{% endblock %}
