{% extends '::base.html.twig' %}

{% block title %}
  Archive des articles
{% endblock %}

{% block supbody %}
    <div id="page" >
        {% stylesheets filter='uglifycss' "@AdminPublishBundle/Resources/public/css/fullArticle.css" "@AdminPublishBundle/Resources/public/css/article.css" "@AdminUserBundle/Resources/public/css/right.css"      %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}

        <div class="container">
            <div class="col-sm-8 col-xs-12">
                {% if page == 0 %}
                    <img class="img-responsive" src="{{ asset("img/devoArchive.jpg")}}" >
                {% endif%}
                <h2>Archive<br>
                </h2>
             



                <div id="article_container" class="row">
                    {% for article in articles %}
                        {{ render(controller("AdminPublishBundle:Article:minView",{"id":article.id})) }}
                    {% endfor %}
                </div>
                <nav>
                    <ul class="pagination">
                        {% if page != 0 %}
                            <li>
                                <a href="{{ path("article_archive",{"page":(page-1)})}}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}
                        {%for i in 0..nbrePage %}
                            <li {% if page == i %} class="active" {% endif %} ><a href="{{ path("article_archive",{"page":i})}}">{{(i+1)}}</a></li>
                            {% endfor %}
                            {% if page != (nbrePage) %}
                            <li>
                                <a href="{{ path("article_archive",{"page":(page+1)})}}"  aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>


            </div>

            <div id='right' class="col-sm-4 col-xs-12">
                {{ render(controller("AdminUserBundle:tool:right",{"type":"article"})) }}
            </div>
        </div>
    </div>
{% endblock %} 

{% block javascript %}
    {% javascripts filter="uglifyjs2" output='js/compiled_*.js'  %}  
    <script src="{{ asset_url }}"></script> {% endjavascripts %}
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-578f332e2daeffeb"></script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-578f332e2daeffeb"></script>

    <script>
        $(document).ready(function() {
            $("#temoignageCar").carousel({interval: 30000})

        });
    </script>
{% endblock %}




