{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
     <div class='col-md-6'>
         <h4>Image de "{{ object.election.name }}"</h4>
        {% if object.election.media != null %}
        <a href="{{ path("admin_sonata_media_media_show",{"id":object.election.media.id})}} ">
         {% media object.election.media, 'reference' with {"width":"100%","height":"auto"} %}
        </a>
        {% endif %}
        {# or whatever to create src of image #}
    </div>
     <div class='col-md-6'>
         <h4>Pesentation de "{{ object.candidat.nom }}"</h4>
        {% if object.candidat.media != null %}
        <a href="{{ path("admin_sonata_media_media_show",{"id":object.candidat.media.id})}} ">
         {% media object.candidat.media, 'reference' with {"width":"100%","height":"auto"} %}
        </a>
        {% endif %}
        {# or whatever to create src of image #}
    </div>

                            {% endblock %}