{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div>
        
       {# recuperation de la liste des elections auquel un candidat a participe et du nombre de vote par election #}
        {% for election in object.election %}
        <a href="{{ path("admin_blog_article_election_show",{"id":election.id})}} ">
         {{ election.name }}
        </a>
        <hr>
        {% endfor %}
    </div>
{% endblock %}