{% extends '::base.html.twig' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block supbody %}
    <div id="page" >
        {% stylesheets filter='uglifycss' "@AdminPublishBundle/Resources/public/css/fullArticle.css" "@AdminUserBundle/Resources/public/css/right.css"      %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}

        <div class="container">
            <div class="col-sm-8 col-xs-12" style="
    background: white;
">

                {% media article.image, 'slide' with {"class":"img-responsive", "alt":article.title} %}
                <h2>{{article.title }}<br>
                    <strong>  {% for category in article.category %}
                <a href="{{ path("article_category",{"id":category.id})}}"> {{ category.name }}</a> ,
                {% endfor %}</strong></br>
                    <span>Fait le {{ article.dCrea|date("d M Y") }}</span>
              </h2>
                <p style="
    line-height: 26px;
    /* font-size: 14px; */
">
                    {{ article.content|nl2br }}
                </p>


            </div>

            <div id='right' class="col-sm-4 col-xs-12">
                {{ render(controller("AdminUserBundle:tool:right",{"type":"article"})) }}
            </div>
        </div>
    </div>
{% endblock %} 

{% block javascript %}
    {% javascripts filter="uglifyjs2" output='js/compiled_*.js'  %}  
    <script src="{{ asset_url }}"></script> {% endjavascripts %}
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-578f332e2daeffeb"></script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-578f332e2daeffeb"></script>

    <script>
        $(document).ready(function() {
            $("#temoignageCar").carousel({interval: 30000})

        });
    </script>
{% endblock %}




