{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom de l'election</th>
                <th>Surplus de l'election</th>
                <th>Date de debut du concours</th>
                <th>Date de fin du concours</th>
                <th>Nombre de vote réel pour "{{object.nom}}"</th>
                <th>Nombre de points des juges de l'election pour  "{{object.nom}}"</th>
                <th>Nombre de vote total pour "{{object.nom}}"</th>
                <th>Nombre de vote réel de tous les candidats</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in object.election %}

                {# on comptabilise le nombre de vote #}
                {% set count = 0 %}
                    {% set fakes = 0 %}
                        {% for vote in entity.vote if vote.candidat == object %}
                            {% set count = count + 1 %}
                                {% endfor %}
                                    {% for fake in entity.fake if fake.candidat == object  %}
                                        {% set fakes = fakes + fake.points %}
                                            {% endfor %}
                                                {# en comptabilisation #}
                                                <tr>
                                                    <td><a href="{{ path('admin_blog_article_election_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                                    <td><a href="{{ path('admin_blog_article_election_show', { 'id': entity.id }) }}">{{ entity.name}}</a></td>
                                                    <td>{{ entity.surplus }}</td>
                                                    <td> {{ entity.dDeb|date("d/H/Y H:i") }}</td>
                                                    <td>{{ entity.dFin|date("d/M/Y H:i") }} </td>
                                                    <td>{{ count }}</td>
                                                    <td>{{ fakes }} </td>
                                                    <td>{{ count + entity.surplus + fakes}}</td>
                                                    <td> {{entity.vote|length}}
                                                    </td>

                                                </tr>

                                                {% endfor %}
                                                </tbody>
                                            </table>

                                            {% endblock %}