{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div>
        {% if object.media != null %}
        <a href="{{ path("admin_sonata_media_media_edit",{"id":object.media.id})}} ">
         {% media object.media, 'medium' %}
        </a>
        {% endif %}
        {# or whatever to create src of image #}
    </div>
{% endblock %}