{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom du candidat</th>
                <th>Type de candidat</th>
                <th>Nombre de vote réel pour "{{object.name}}"</th>
                <th>Nombre de points des juges pour l'election "{{object.name}}"</th>
                <th>Nombre de vote en surplus pour l'election "{{object.name}}"</th>
                <th>Nombre de vote total pour  l'election "{{object.name}}"</th>
                <th>Nombre de vote réel pour toutes les elections</th>
                <th>Lien youtube</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in object.candidat %}

                {# on comptabilise le nombre de vote #}
                {% set count = 0 %}
                {% set fakes = 0 %}
                    {% for vote in entity.vote if vote.election == object  %}
                        {% set count = count + 1 %}
                            {% endfor %}
                    {% for fake in entity.fake if fake.election == object  %}
                        {% set fakes = fakes + fake.points %}
                            {% endfor %}
                                {# en comptabilisation #}
                                <tr>
                                    <td><a href="{{ path('admin_blog_article_candidat_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                    <td><a href="{{ path('admin_blog_article_candidat_show', { 'id': entity.id }) }}">{{ entity.nom}}</a></td>
                                    <td>{{ entity.candidatType.name }}</td>
                                    <td> {{ count }}</td>
                                    <td>{{ fakes }} </td>
                                    <td>{{ object.surplus }} </td>
                                    <td>{{ count + object.surplus + fakes}}</td>
                                    <td>{{ entity.vote|length }}</td>
                                    </td>
                                    <td> <a href="{{entity.lien}} ">
                                           {{entity.lien}}
                                        </a></td>
                                </tr>

                                {% endfor %}
                                </tbody>
                            </table>

                            {% endblock %}