{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div>
        {% for candidat in object.candidat %}
        <a href="{{ path("admin_blog_article_candidat_show",{"id":candidat.id})}} ">
         {{ candidat.nom }} 
        </a> - <a href="{{ path("admin_blog_article_candidattype_edit",{"id":candidat.id})}} ">{{ candidat.candidatType.name}} </a> <br>
        <hr>
        {% endfor %}
        {# or whatever to create src of image #}
    </div>
{% endblock %}