{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div>
        {% if object.imageD != null %}
        <a href="{{ path("admin_sonata_media_media_show",{"id":object.imageD.id})}} ">
         {% media object.imageD, 'reference' with {"width":"125","height":"auto"} %}
        </a>
        {% endif %}
        {# or whatever to create src of image #}
    </div>
{% endblock %}
