<article class="article col-sm-6 col-xs-12">
    <div class="row"><a  href="{{ path("article_detail",{"id":article.id})}}">
        <div class="img-container">
           {% media article.image, 'excerpt' with {"alt":article.title} %}
        </div></a>
        <div class="resume  col-sm-12 col-xs-12">
            <h4>{{article.title }}</h4>
            <span>Article </span><br>
            <span> {{article.dCrea|date("d M Y")}} </span>
            <p>{{ article.resume }}</p>

        </div>
        <a class="pull-right" href="{{ path("article_detail",{"id":article.id})}}">{{ 'article.seemore'|trans({}, 'article') }}</a>
    </div>
</article>
