{#
  Source: http://dev.dbl-a.com/symfony-2-0/symfony2-and-twig-pagination/
  Updated by: Simon Schick <simonsimcity@gmail.com>

  Parameters:
    * currentFilters (array) : associative array that contains the current route-arguments
    * currentPage (int) : the current page you are in
    * paginationPath (string) : the route name to use for links
    * showAlwaysFirstAndLast (bool) : Always show first and last link (just disabled)
    * lastPage (int) : represents the total number of existing pages
#}
{% spaceless %}
    {% if lastPage > 1 %}

        {# the number of first and last pages to be displayed #}
        {% set extremePagesLimit = 3 %}

            {# the number of pages that are displayed around the active page #}
            {% set nearbyPagesLimit = 2 %}

                <ul class="pagination">
                    {% if currentPage > 1 %}
                        <li>
                            <a href="{{ path(paginationPath, currentFilters|merge({page: currentPage-1})) }}"> <span aria-hidden="true">&laquo;</span></a>
                        </li>
                        {% for i in range(1, extremePagesLimit) if ( i < currentPage - nearbyPagesLimit ) %}
                            <li> <a href="{{ path(paginationPath, currentFilters|merge({page: i})) }}">{{ i }}</a></li>
                            {% endfor %}

                        {% if extremePagesLimit + 1 < currentPage - nearbyPagesLimit %}
                            <li> <span class="sep-dots">...</span></li>
                        {% endif %}

                        {% for i in range(currentPage-nearbyPagesLimit, currentPage-1) if ( i > 0 ) %}
                            <li> <a href="{{ path(paginationPath, currentFilters|merge({page: i})) }}"> <span aria-hidden="true">{{ i }}</span></a> </li>
                            {% endfor %}
                        {% elseif showAlwaysFirstAndLast %}
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true" class="disabled">&laquo;
                                </span>
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{{ path(paginationPath, currentFilters|merge({ page: currentPage })) }}"
                           class="active">{{ currentPage }}</a>
                    </li>
                    {% if currentPage < lastPage %}
                        {% for i in range(currentPage+1, currentPage + nearbyPagesLimit) if ( i <= lastPage ) %}
                            <li>   <a href="{{ path(paginationPath, currentFilters|merge({page: i})) }}">{{ i }}</a></li>
                            {% endfor %}

                        {% if  (lastPage - extremePagesLimit) > (currentPage + nearbyPagesLimit) %}
                            <span class="sep-dots">...</span>
                        {% endif %}

                        {% for i in range(lastPage - extremePagesLimit+1, lastPage) if ( i > currentPage + nearbyPagesLimit ) %}
                            <li>  <a href="{{ path(paginationPath, currentFilters|merge({page: i})) }}">{{ i }}</a> </li>
                            {% endfor %}
                        <li>
                            <a  aria-label="Next" href="{{ path(paginationPath, currentFilters|merge({page: currentPage+1})) }}"><span aria-hidden="true">&raquo;</span></a>
                        </li>
                    {% elseif showAlwaysFirstAndLast %}
                        <li>
                            <a href="#" aria-label="Next" class="disabled">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>

                    {% endif %}
                </ul>
                {% endif %}
                    {% endspaceless %}
