{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    
        <a href="{{ path("admin_voir_vote",{"id":object.id})}} ">
         Voir les votes 
        </a> 
    
{% endblock %}