.padding-lg{
    padding:6em 0;
}
.btn-primary{
    padding:0px 20px !important;
}
.nav>li>a:hover {
    background-color : transparent !important;
}
.footer-black{
    background-color: #111;
    height: auto !important;
}
.footer-black p, .footer-black a, .footer-black a:hover{
    color : #ccc;
}
.footer-black ._title{
    color : #fff;
}
.footer-black .glyphicon{
    color : darkblue;
}
.subfooter{
    color : #ccc;
    font-size : 12px;
    padding:15px 0px;
    border-top : 1px solid #222;
    margin-top:100px;
}
.footer{
    padding:100px 0px 0px 0px;
}
.footer-black .main{
    color : #fff;
}
.footer .main{
    font-weight: 600;
}
.footer ._title{
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Open Sans","arial",sans-serif;
}

.service-main{
    font-family : "open sans";
}
.service-main h1{
    font-size: 20px;
}
.service-main img, .service-main p{
    margin-bottom : 30px;
}
html,body{
    margin: 0;
    padding: 0;
}
body{
    width:100%;
    height: 100%;
    font-family:'Open Sans', sans-serif;


}
.carousel-caption
{
    text-shadow: none;
}
#back-container>div
{
    height: 987px;
    width: 100%;
    left: 0px; 
    background-size: contain;
}
#back-container
{
    height: 300px;
    overflow: hidden

}
#back-container h1
{
    margin-top: 119px;
    font-size: 50px;
    color: rgba(255,255,255,0.9);
    line-height: initial;
}
#back-container .btn
{
    background: rgba(57, 57, 144, 0.9);
    color: #fff;
    padding: 15px 21px;
    border-radius: 5px;
    border: 1px solid #fff;
    margin-top: 27px !important;
    letter-spacing: 3px;
}
#back-container p
{
    text-shadow: none!important;
    text-align: center;
    color: white;
    margin-top: -6px;
    margin-bottom: 5px;
}
.carousel-caption .btn {
    text-shadow: none;
    color: #fff;
    background-color: transparent;
    border: #ffffff 2px solid;
    box-shadow: none;
    border-radius: 0px;
    margin-top: 20px;
    font-size: 20px;
}
.block h2
{
      color: #444;
    font-size: 50px !important;
    font-weight: 300 !important;
}
.h100 {
    height: 100% !important;
    max-width: initial !important;
}
.service-img-container
{
        height: 244px;
    overflow: hidden;
    padding: 0px;
    background: #EEE;
}
.services
{
    margin-bottom: 10px;
}
.part{
    height: 100px;
    margin-bottom: 90px

}
.part img{
    position: absolute;
    left: 40%;
    transition-duration: 2s;
}
.part .nope:hover{
    opacity: 0.2;
    transition-duration: 1s;

}
.grey
{
    background: #eee;
}
.services a
{
    text-decoration: none;
}
.services
{
    margin-bottom: 10px
}
.services h3
{
    font-size: 20px;
    text-align: center;
    text-decoration: none !important;
}
#infos .container
{
    height: 100%;
    background: rgba(0,0,0,0.3);
    padding: 40px;
    text-align: center;
    color:white;
}
.services p
{
    text-align: justify;
    font-size: .9em;
    color: #333;
    margin-bottom: 10px;
    padding: 0px 10px;

}
.services .pull-right
{
        margin-right:10px;
        margin-bottom: 10px
}
.service-img-container div
{  overflow: hidden;
   height: 100%;
}
.carousel-caption h1 {
    font-size: 43px;
    font-weight: 700;
}
a:hover{
    text-decoration: none !important;
}

.img-center{
    display: block !important;
    text-align: center;
    height: 100% !important;
    margin:auto;
}
.max200{
    height: 200px;
}
.text-white{
    color:#fff;
}

.bg-blue{
    background-color: #3b3b40;
}
.bg-blue i{
    color : #bbbbdd;
}
.header-bar{
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}
.header-bar .header-bar-item{
    width: 17%;
    display: inline-block;
    vertical-align: middle;
    margin: auto;
}
.header-bar .header-bar-item:nth-child(2){
    border-right : 1px solid #bbbbdd;
    border-left : 1px solid #bbbbdd;
    padding-left:1em;
    margin-right:1em;
}
.header-bar .header-bar-item i{
    width:20px;
}
.navbar-custom {
    transition: 0.2s;
    background-color: white !important;
    margin-bottom: 0!important;
    border-color: transparent!important;
    padding: 15px;
}

.navbar-custom .navbar-right .active a {
    background-color: transparent!important;
    color: #15399e!important;
        font-weight: 400;
    font-weight: 600;
}

.smaller .navbar-right .active a {
    transition: 1s;
    background-color: transparent!important;
    color: #1539b6 !important;
    text-shadow: none !important;
    text-decoration: none;
}

.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
}

.arrows path {
    stroke: #2994D1;
    fill: transparent;
    stroke-width: 1px;	
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

.arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
    animation-delay:0s;
    -webkit-animation-delay:0s; /* Safari 和 Chrome */
}
#array
{
    cursor: pointer;
}
section.module:last-child {
    margin-bottom: 0;
}
section.module h2 {
    margin-bottom: 40px;
    font-family: "Roboto Slab", serif;
    font-size: 30px;
}
section.module p {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 300;
}
section.module p:last-child {
    margin-bottom: 0;
}
section.module.content {
    padding: 40px 0;
}
section.module.parallax {
    height: 300px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
section.module.parallax h1 {
    color: rgba(255, 255, 255,1);
    font-size: 48px;
    line-height: 75px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
section.module.parallax h1 small{
    font-size: 40%;
    /* float: right; */
    color: #dedede;
}
@media all and (min-width: 600px) {
    section.module h2 {
        font-size: 42px;
    }
    section.module p {
        font-size: 20px;
    }
    section.module.parallax h1 {
        font-size: 96px;
    }
}
@media all and (min-width: 960px) {
    section.module.parallax h1 {
        font-size: 70px;
    }
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 15px;
    color: #333;
    text-shadow: none;
    font-size: 15px;
}

.smaller {  
    transition: 1s;
    background-color: #ffffff!important;
    margin-bottom: 0!important;
    /* border-color: transparent!important; */
    padding: 0!important;
    min-height: 35px!important;
    border-bottom: 1px solid #eaeaea !important;
}
.smaller .navbar-nav>li>a {
    transition: 1s;
    color: #333;
}
a
{
    color: #15399e;
}
.carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
    top: 30%;
}
.navbar-brand{
    background: white;
    padding:0px !important;
    height: 45px;
}
.navbar-brand>img{
    width: auto;
    height: 42px;
    padding-top: 5px;
}
.carousel-inner .item img{
    width : 100% !important;
}
.inline-block{
    display: inline-block;
    vertical-align: middle;
}
.title-line{
    background-color: red;
    width: 40px;
    height: 2px;
    margin-right: 1em;
}
.title-blue{
    font-size: 10px;
    letter-spacing: 1em;
    color:darkblue;
    font-weight: 600;
}
.marginTop-lg{
    margin-top: 6em;
}
.marginBottom-lg{
    margin-bottom: 6em;
}
.margin-md{
    margin: 0 0 3em 0;
}
.marginTop-sm{
    margin-top:30px;
}
.block {
    min-height: 400px;
}
.btn-blue:hover{
    color: #15399e;
}
.btn-blue {
    background-color: transparent;
    color: #15399e;
    padding: 10px 20px!important;
    font-size: 10px!important;
    border-radius: 2px!important;
    /* letter-spacing: 2px; */
    border: 1px solid;
    /* float: right; */
    /* margin-right: 80px; */
    /* text-decoration: underline; */
    font-size: 14px !important;
}
.footer-bar{
    font-size: 16px;
    line-height: 100px;
    height: 100px;
}
.btn-white{
    background-color:#fff;
    border-radius:2px !important;
    color:darkblue;
}
.text-red{
    color:red;
}
footer{
    padding:20px 0px;
    border-top:1px solid #dadada;
    background:#080808;
}
footer p,footer a, footer li{
    font-size: 12px;
    color: #a0a0a0 !important;
}
footer a{
    color:darkblue;
}
footer .title{
    margin-bottom: 1em;
    font-weight: 600;
    letter-spacing: 4px;
}
.block-header{
    min-height: 100px;
    line-height: 100px;
    border-top:1px solid #eaeaea;
}
.fsize-md{
    font-size:14px;
}
.fsize-lg{
    font-size:2em;
}
.w100{
    width: 100%;
}
h2{
    font-size: 1em !important;
    font-weight: 600 !important;
}
h3{
    font-size: 1em !important;
    font-weight: 600 !important;
}
p,ul{
    text-align: justify;
    font-size: 0.9em;
    color: #b1b2e0;
}
.prod img{
    width: 97% !important;
}
.bg-gray{
    background-color: #e2e2ea;
}
.padding{
    padding:50px 0px;
}
.contact{
    background-image: url(../../img/contact.png);
}
.produit{
    background-image: url(../../img/produit.png);
}
.service{
    background-image: url(../../img/service.png);
}
.produit,.contact,.service{
    padding:60px 15px;
    margin-bottom: 150px;
    background-size: cover;
}
input,textarea{
    border-radius:2px !important;
    box-shadow: none !important;
    border-color:transparent !important;
    background-color:#d1d2e4 !important;
}
input{
    height: 50px !important;
    line-height: 50px !important;
}
.page-block{
    margin:150px 0px;
}