

#page textarea {
  resize: vertical;
}

#page code {
  line-height: 1;
  font-family: Monaco, Consolas, "Bitstream Vera Sans Mono", "Andale Mono", "DejaVu Sans Mono", "Lucida Console", monospace;
  font-size: 0.9em;
}

#page img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
  font-style: italic;
}

#page figure > img {
  display: block;
}

#page textarea:active,
#page textarea:focus {
  cursor: text;
  outline: none;
}

abbr[title], dfn[title] {
  cursor: help;
}

#page u, #page ins {
  text-decoration: none;
}

#page div {
  word-break: break-word;
  word-wrap: break-word;
}


#page  {
  background: transparent none;
  color: #333;
  text-align: left;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media only screen and (min-width: 768px) {

  #page .wrap--app {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -73px;
    /* 43 + 30 */
  }

  #page .wrap:after {
    content: "";
    display: block;
  }
}
#page select {
  padding-left: 6px !important;
}

#page h1, #page h2, #page h3, #page h4, #page h5,#page  h6 {
  margin: 0 0 20px;
  letter-spacing: -.05em;
  font-weight: normal;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.2;
  line-height: normal;
}

#page h1 {
  font-size: 2.3em;
}

#page h2 {
  font-size: 2.2em;
}

#page #page  {
  font-size: 1.8em;
}

h4 {
  font-size: 1.5em;
}

#page h5 {
  font-size: 1.2em;
}

#page h6 {
  font-size: 1em;
}

#page a {
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  text-decoration: none;
  color: #51a0d0;
}

#page a:hover, a:active {
  color: #000;
  text-decoration: none;
}
#page a:focus {
  outline: 0;
}

#page a:hover,
#page a:focus {
  color: #000;
  text-decoration: none;
}

#page a:focus {
  outline: 0;
  outline: none;
}

#page ul, ol, dl {
  margin: 0 0 20px;
  padding: 0;
}

#page ul {
  list-style: disc outside;
}

#page ol {
  list-style: decimal outside;
}

#page ul ul, ul ol, ol ul, ol ol {
  margin: 0;
}

#page li, dd {
  margin-left: 20px;
  line-height: 1.5;
}
#page li[class*="col-"], dd[class*="col-"] {
  list-style: none;
  margin-left: 0;
}

#page li ul, li ol {
  font-size: 1em;
}

#page nav ul, nav ol {
  list-style: none outside;
}

#page nav li {
  margin: 0;
  padding: 0;
  display: inline;
}

#page dt {
  font-weight: bold;
  margin-top: 10px;
}
#page dt:first-child {
  margin-top: 0;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}
.center p, .pagination p {
  text-align: center;
}
.aright p {
  text-align: right;
}

hr {
  clear: both;
  overflow: hidden;
  margin: 10px 0;
  height: 1px;
  border: 0;
  background-color: #b5babd;
}
hr.offscreen {
  margin-left: -3000px !important;
  margin-right: -3000px !important;
}

a.text--dark:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

label.required:after {
  content: '*';
  font-size: 11px;
  top: -5px;
  left: 4px;
  position: relative;
}

.no-after label.required:after {
  content: '';
}
.no-after label {
  display: block;
}
.no-after input {
  float: left;
  margin-right: 10px;
}

table {
  margin: 0;
  width: 100%;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
table.table {
  margin-bottom: 0;
}
table tr, table th, table td, table caption {
  padding: 6.66667px 10px;
  border: 1px solid #d0d3d5;
  background: #fff;
}
table td {
  height: 53px;
  /* For td height is like min-height, so this way we actually get min-height: 53px; */
  vertical-align: top;
}
table caption {
  padding: 0 0 6.66667px;
  border: 0;
  font-weight: bold;
}
table th {
  text-transform: uppercase;
  font-weight: bold;
  background: #F1F4F6;
  font-size: 13px;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
table p, table li {
  font-size: 1em;
}
table.striped tbody tr:nth-child(even) {
  background-color: #dde0e1;
}
table.horizontal tr, table.horizontal th, table.horizontal td, table.horizontal caption {
  padding: 6.66667px 0;
  border-width: 0 0 1px;
}
table.horizontal caption {
  padding: 0 0 6.66667px;
  border: 0;
}
table.vam td, table.vam th {
  vertical-align: middle;
}
table.horizontal.striped tr, table.horizontal.striped th, table.horizontal.striped td, table.horizontal.striped caption {
  padding: 6.66667px 10px;
}
table.horizontal.striped caption {
  padding: 0 0 6.66667px;
  border: 0;
}

th.sort a {
  position: relative;
  padding-right: 18px;
}
th.sort a:after {
  font-family: "FontAwesome";
  font-size: 15px;
  position: absolute;
  top: -1px;
  right: -0;
}
th.sort--asc a:after {
  top: -2px;
  content: "\f0d8";
}
th.sort--asc a:hover:after {
  top: -1px;
  content: "\f0d7";
}
th.sort--desc a:after {
  content: "\f0d7";
}
th.sort--desc a:hover:after {
  top: -2px;
  content: "\f0d8";
}

#push {
  height: 73px;
  /* 43 + 30 */
}

.footer {
  border-top: solid 1px #d0d3d5;
  padding: 12px;
  height: 43px;
  z-index: 1;
  position: relative;
  margin-top: 30px;
}

@media only screen and (min-width: 768px) {



.logo {
  display: inline-block;
  margin: 12px 0 14px 15px;
  float: left;
}


.wrap {
  overflow: hidden;
  position: relative;
  padding: 0;
  background: #e0e3e5;
}
.wrap--lightest {
  background: #f5f5f7;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.c-article {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}
.c-article:not(:first-child) {
  margin-top: 30px;
}
.c-article__full {
  margin-left: -20px;
  margin-right: -20px;
}

.img-up {
  position: relative;
  width: 88px;
  height: 66px;
}
.img-up img {
  max-height: 100%;
  width: auto;
  margin: 0 auto;
}

.dashboard-menu {
  position: relative;
  background: #5c676e;
  color: #fff;
}
@media only screen and (min-width: 992px) {
  .dashboard-menu {
    float: left;
    width: 220px;
  }
}
.dashboard-menu .copyright {
  position: absolute;
  opacity: .3;
  margin: 0;
  bottom: 15px;
  left: 15px;
  right: 15px;
}

.dashboard-menu__logo {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  line-height: 1;
  color: #A2A9AE;
  background: #fff;
  padding: 15px;
  border: 2px dashed #b0b2b4;
}
.dashboard-menu__logo a {
  letter-spacing: normal;
  text-transform: none !important;
  font-size: 12px;
  display: block;
  padding-top: 5px;
}

.dashboard-content {
  padding: 0 15px 15px;
  max-width: 1685px;
}
@media only screen and (min-width: 992px) {
  .dashboard-content {
    overflow: hidden;
    padding: 0 30px 30px;
  }
}
.dashboard-content__container {
  max-width: 1170px;
  margin: 0 auto;
}

.toggle--dashboard-menu {
  display: block;
  padding: 10px 15px;
  color: #fff;
}
.toggle--dashboard-menu:hover {
  background: rgba(0, 0, 0, 0.05);
  color: #fff;
}
@media only screen and (min-width: 992px) {
  .toggle--dashboard-menu {
    display: none;
  }
}

.dashboard-menu nav {
  display: none;
}
@media only screen and (min-width: 992px) {
  .dashboard-menu nav {
    display: block;
  }
}
.dashboard-menu nav ul {
  list-style: none;
  margin: 0;
}
.dashboard-menu nav li {
  border-bottom: 1px solid #4c555b;
}
.dashboard-menu nav [class*="fa-"],
.dashboard-menu nav [class*="fileicon-"],
.dashboard-menu nav [class*="ion-"] {
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  min-width: 20px;
}
.dashboard-menu nav a {
  color: #fff;
  padding: 10px 15px 10px 11px;
  font-style: 14px;
  border-left: 4px solid transparent;
}
.dashboard-menu nav a:hover {
  background: rgba(0, 0, 0, 0.05);
}
.dashboard-menu nav li.active a {
  background: #4c555b;
  border-color: #82c5ed;
  font-weight: bold;
}

.dashboard-sections {
  list-style: none;
  overflow: visible;
}
@media only screen and (min-width: 992px) {
  .dashboard-sections {
    margin: 0 -30px -30px 0;
  }
  .dashboard-sections li {
    float: left;
    width: 50%;
    padding: 0 30px 30px 0;
  }
}
@media only screen and (min-width: 1200px) {
  .dashboard-sections li {
    width: 33.33%;
  }
}
.dashboard-sections li {
  margin: 0 0 15px;
}
@media only screen and (min-width: 992px) {
  .dashboard-sections li {
    margin: 0;
  }
}
.dashboard-sections a {
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 40px 15px;
  background: #fff;
  color: #333;
  border-top: 4px solid transparent;
  border-color: #51a0d0 !important;
}
@media only screen and (min-width: 992px) {
  .dashboard-sections a {
    padding: 40px 10px 40px 30px;
  }
}
.dashboard-sections a h2, .dashboard-sections a h3, .dashboard-sections a h4 {
  font-style: 24px;
  margin-bottom: 4px;
  font-weight: bold;
}
.dashboard-sections a:hover {
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.dashboard-sections .dashboard__articles a,
.dashboard-sections .dashboard__members a,
.dashboard-sections .dashboard__categories a,
.dashboard-sections .dashboard__tags a,
.dashboard-sections .dashboard__comments a,
.dashboard-sections .dashboard__media a,
.dashboard-sections .dashboard__cogs a {
  border-color: #51a0d0;
}
.dashboard-sections .dashboard__articles a:hover:after,
.dashboard-sections .dashboard__members a:hover:after,
.dashboard-sections .dashboard__categories a:hover:after,
.dashboard-sections .dashboard__tags a:hover:after,
.dashboard-sections .dashboard__comments a:hover:after,
.dashboard-sections .dashboard__media a:hover:after,
.dashboard-sections .dashboard__cogs a:hover:after {
  color: #51a0d0;
}
.dashboard-sections .dashboard__articles a:after,
.dashboard-sections .dashboard__members a:after,
.dashboard-sections .dashboard__categories a:after,
.dashboard-sections .dashboard__tags a:after,
.dashboard-sections .dashboard__comments a:after,
.dashboard-sections .dashboard__media a:after,
.dashboard-sections .dashboard__cogs a:after {
  content: "\f060";
  font-family: "FontAwesome";
  font-size: 100px;
  position: absolute;
  bottom: -36px;
  right: -25px;
  z-index: 0;
  opacity: .1;
}
.dashboard-sections .dashboard__articles a:hover:after,
.dashboard-sections .dashboard__members a:hover:after,
.dashboard-sections .dashboard__categories a:hover:after,
.dashboard-sections .dashboard__tags a:hover:after,
.dashboard-sections .dashboard__comments a:hover:after,
.dashboard-sections .dashboard__media a:hover:after,
.dashboard-sections .dashboard__cogs a:hover:after {
  opacity: .3;
}
.dashboard-sections .dashboard__articles a:after {
  content: "\f15c";
  right: -16px;
}
.dashboard-sections .dashboard__members a:after {
  content: "\f007";
}
.dashboard-sections .dashboard__categories a:after {
  content: "\f03a";
}
.dashboard-sections .dashboard__tags a:after {
  content: "\f02c";
  right: -35px;
}
.dashboard-sections .dashboard__comments a:after {
  content: "\f086";
  right: -30px;
}
.dashboard-sections .dashboard__media a:after {
  content: "\f03e";
}
.dashboard-sections .dashboard__cogs a:after {
  content: "\f085";
}

.keep-open {
  position: relative;
}
.keep-open .dropdown-toggler:hover {
  cursor: pointer;
}
.keep-open .dropdown-toggled {
  display: block;
  margin-top: -1px;
  border: solid 1px #d0d3d5;
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.175);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.175);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.175);
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  max-height: 240px;
  overflow: auto;
}
.keep-open.wide .dropdown-toggled {
  width: 100%;
}
.keep-open label {
  width: 100%;
  margin-bottom: 0;
  color: #030303;
  font-weight: 400;
  padding: 4px 15px 4px 33px !important;
  white-space: normal !important;
  text-indent: -18px;
}
.keep-open label:hover {
  cursor: pointer;
  background-color: #6fbae7 !important;
}
.keep-open label.level--1 {
  padding-left: 51px !important;
}
.keep-open label.level--2 {
  padding-left: 69px !important;
}
.keep-open label.level--3 {
  padding-left: 87px !important;
}
.keep-open label.level--4 {
  padding-left: 105px !important;
}
.keep-open input {
  cursor: pointer;
}
.keep-open .select-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  filter: alpha(opacity=0);
  opacity: 0;
}
.keep-open .chck-child label {
  padding-left: 51px !important;
}
.keep-open select.form-control {
  height: 48px;
}

.autocomplete-suggestion {
  padding-left: 10px;
  cursor: pointer;
}

@media only screen and (min-width: 992px) {
  .login-form {
    width: 420px;
    margin: auto;
  }
}
.login-form .form-control {
  font-size: 14px;
}
.login-form .form-control:-moz-placeholder {
  font-size: 14px;
}
.login-form .form-control::-moz-placeholder {
  font-size: 14px;
}
.login-form .form-control:-ms-input-placeholder {
  font-size: 14px;
}
.login-form .form-control::-webkit-input-placeholder {
  font-size: 14px;
}

.b-upload {
  cursor: pointer;
  background: #6fbae7;
  border: solid 1px #539bc6;
  color: white;
  padding: 10px 0 15px;
  margin-bottom: 30px;
  transition-property: background;
  transition-duration: 0.3s;
}
.b-upload:hover {
  background: #55ade3;
}
.b-upload .fa-camera {
  position: relative;
  top: 4px;
}
.b-upload .wording div {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .b-upload .wording div {
    text-align: left;
  }
}

.pagination {
  overflow: hidden;
  *zoom: 1;
  clear: both;
  margin: 0 0 20px;
}
.pagination a,
.pagination a:link,
.pagination a:visited,
.pagination span {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 0;
  margin-bottom: 5px;
  padding: 5px 10px;
  width: auto;
  border: 1px solid transparent;
  vertical-align: middle;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  line-height: normal !important;
}
.pagination a.pagination__current,
.pagination a:link.pagination__current,
.pagination a:visited.pagination__current,
.pagination span.pagination__current {
  border: 1px solid #d0d3d5;
  color: #333;
  cursor: default;
}
.pagination a.pagination__pages,
.pagination a:link.pagination__pages,
.pagination a:visited.pagination__pages,
.pagination span.pagination__pages {
  background-color: transparent;
  padding-left: 0;
  border: 0;
}
.pagination a.pagination__pages:hover,
.pagination a:link.pagination__pages:hover,
.pagination a:visited.pagination__pages:hover,
.pagination span.pagination__pages:hover {
  background-color: transparent;
}
.pagination a:hover,
.pagination a:link:hover,
.pagination a:visited:hover,
.pagination span:hover {
  border: 1px solid #d0d3d5;
  color: #333;
}
.pagination span:hover {
  color: inherit;
  background: transparent none;
  border-color: transparent;
}
.pagination [class*="fa-"],
.pagination [class*="fileicon-"],
.pagination [class*="ion-"] {
  line-height: .8;
}
table .pagination a,
table .pagination a:link,
table .pagination a:visited,
table .pagination span {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #E0E3E5;
  background: #E0E3E5;
  color: #333;
}
table .pagination a:hover,
table .pagination a:link:hover,
table .pagination a:visited:hover,
table .pagination span:hover {
  background: #333;
  border-color: #333;
  color: #fff;
}
table .pagination a.pagination__current,
table .pagination a:link.pagination__current,
table .pagination a:visited.pagination__current,
table .pagination span.pagination__current {
  border: 1px solid #E0E3E5;
  background: transparent none;
  color: #333;
  cursor: default;
}
.pagination--styled a,
.pagination--styled a:link,
.pagination--styled a:visited,
.pagination--styled span {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #d0d3d5;
  background: #d0d3d5;
  color: #333;
}
.pagination--styled a:hover,
.pagination--styled a:link:hover,
.pagination--styled a:visited:hover,
.pagination--styled span:hover {
  background: #333;
  border-color: #333;
  color: #fff;
}
.pagination--styled a.pagination__current,
.pagination--styled a:link.pagination__current,
.pagination--styled a:visited.pagination__current,
.pagination--styled span.pagination__current {
  border: 1px solid #d0d3d5;
  background: transparent none;
  color: #333;
  cursor: default;
}

/***************************    Media library   ****************************************/
@media (min-width: 480px) and (max-width: 768px) {
  .phototiles__item {
    width: 50% !important;
  }
}
@media (min-width: 1200px) and (max-width: 1600px) {
  .phototiles__item {
    width: 25% !important;
  }
}
.phototiles {
  overflow: hidden;
  margin: 0 -30px 0 0;
  padding: 0;
  list-style: none;
}
.phototiles__item {
  overflow: hidden;
  float: left;
  margin: 0;
  width: 100%;
  padding: 0 30px 30px 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}
.phototiles__item img {
  -moz-transition: 0.9s;
  -o-transition: 0.9s;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  max-height: 100%;
  height: auto;
  width: auto;
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) !important;
  -moz-transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
}
.phototiles__item:hover img {
  -webkit-transform: translate(-50%, -50%) scale(1.05) !important;
  -moz-transform: translate(-50%, -50%) scale(1.05) !important;
  -ms-transform: translate(-50%, -50%) scale(1.05) !important;
  transform: translate(-50%, -50%) scale(1.05) !important;
}
@media only screen and (min-width: 768px) {
  .phototiles__item {
    width: 33.33%;
  }
}
@media only screen and (min-width: 1200px) {
  .phototiles__item {
    width: 16.66%;
  }
}
.phototiles__iteminner {
  padding-top: 70%;
  overflow: hidden;
  position: relative;
  border: solid 1px #d0d3d5;
  background: #f5f5f7;
}
.phototiles__iteminner .border-el {
  display: none;
  position: absolute;
  z-index: 9;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: solid 3px #6fbae7;
}
.phototiles__iteminner.selected {
  border: solid 1px #6fbae7;
}
.phototiles__iteminner.selected .phototiles__itemabs img {
  -webkit-transform: translate(-50%, -50%) scale(1) !important;
  -moz-transform: translate(-50%, -50%) scale(1) !important;
  -ms-transform: translate(-50%, -50%) scale(1) !important;
  transform: translate(-50%, -50%) scale(1) !important;
}
.phototiles__iteminner.selected .toggle--remove {
  display: none;
}
.phototiles__iteminner.selected .toggle--selected {
  display: block;
}
.phototiles__iteminner.selected .border-el {
  display: block;
}
.phototiles__itemabs {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.phototiles .form-control {
  margin-top: 1px;
}
.phototiles textarea {
  resize: none;
  padding: 6px 10px 12px !important;
}

.c-sidebar {
  margin-top: 15px;
}
.c-sidebar:not(:first-child) {
  margin-top: 37px;
}
.c-sidebar__title {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #93a0a8;
  margin-bottom: 15px;
}
.c-sidebar__list a:not(.btn) {
  display: block;
  color: #36a9ed;
  margin-bottom: 6px;
  margin-left: 15px;
}
.c-sidebar__list a:not(.btn).leader {
  font-size: 15px;
  font-weight: bold;
  margin-left: 0;
}
.c-sidebar__list a:not(.btn).hover, .c-sidebar__list a:not(.btn).active {
  color: black;
}
.c-sidebar__list__el1 {
  margin-bottom: 8px;
  margin-right: 5px;
  float: left;
}
@media only screen and (min-width: 768px) {
  .c-sidebar__list__el1 {
    float: none;
  }
}

.toggle--close {
  position: absolute;
  top: 5px;
  right: 9px;
  color: #999;
}
.toggle--close:hover {
  color: #333;
}

.toggle--remove {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #4a4b4b;
  color: white;
  border-radius: 100%;
  line-height: 20px;
  text-align: center;
  top: 3px;
  right: 3px;
}
.toggle--remove:hover, .toggle--remove:active, .toggle--remove:focus {
  color: white;
}

.toggle--selected {
  display: none;
  z-index: 10;
  position: absolute;
  width: 25px;
  height: 25px;
  background: #6fbae7;
  color: white;
  line-height: 25px;
  text-align: center;
  top: -2px;
  left: -2px;
}
.toggle--selected:hover, .toggle--selected:active, .toggle--selected:focus {
  color: white;
}

.bg--transp {
  background: transparent none !important;
}

.bgblack--p02 {
  background: rgba(0, 0, 0, 0.02) !important;
}

.bgblack--p05 {
  background: rgba(0, 0, 0, 0.05) !important;
}

.bgblack--p10 {
  background: rgba(0, 0, 0, 0.1) !important;
}

.bgwhite {
  background: #fff !important;
}

.bg--lightgrey {
  background: #f5f5f7;
}

.bg--imgnone {
  background-image: none !important;
}

.white {
  color: white !important;
}

.black {
  color: black !important;
}

.dark-grey {
  color: #333 !important;
}

.app-blue {
  color: #36a9ed !important;
}

.app-grey {
  color: #727679 !important;
}

.app-light-grey {
  color: #737373 !important;
}

.c-grey {
  color: #191919 !important;
}

.color-placeholder {
  color: #969696 !important;
}

.text--blue-light {
  color: #85A1B3 !important;
}

.hide {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.destroy {
  display: none !important;
  visibility: hidden !important;
}

.d--b, .dashboard-menu nav li, .dashboard-menu nav a, .dashboard-sections a, .pagination {
  display: block !important;
}

.d--i {
  display: inline !important;
}

.d--ib, .pagination a,
.pagination a:link,
.pagination a:visited,
.pagination span {
  display: inline-block !important;
}

.d--t {
  display: table !important;
  width: 100% !important;
  table-layout: fixed !important;
}

.d--tc {
  display: table-cell !important;
  vertical-align: middle !important;
}

.d--tr {
  display: table-row !important;
}

.d--ib--b {
  display: inline-block;
}
@media only screen and (min-width: 768px) {
  .d--ib--b {
    display: block;
  }
}

.muted--total {
  opacity: 0 !important;
}

.muted {
  opacity: .6 !important;
}

.mutedmore {
  opacity: .3 !important;
}

.visible--tab {
  display: none;
}
@media only screen and (min-width: 768px) {
  .visible--tab {
    display: block;
  }
}

.visible--lap, .dashboard-menu .copyright {
  display: none;
}
@media only screen and (min-width: 992px) {
  .visible--lap, .dashboard-menu .copyright {
    display: block;
  }
}

.visible--desk {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .visible--desk {
    display: block;
  }
}

.invisible--tab {
  display: block;
}
@media only screen and (min-width: 768px) {
  .invisible--tab {
    display: none;
  }
}

.invisible--lap {
  display: block;
}
@media only screen and (min-width: 992px) {
  .invisible--lap {
    display: none;
  }
}

.invisible--desk {
  display: block;
}
@media only screen and (min-width: 1200px) {
  .invisible--desk {
    display: none;
  }
}

.ovh, .dashboard-sections a, .box-shadow {
  overflow: hidden !important;
}

.ovv {
  overflow: visible !important;
}

.vh {
  visibility: hidden !important;
}

.vv {
  visibility: visible !important;
}

.tabled {
  display: table;
  width: 100%;
  height: 100%;
}
.tabled .table-cell {
  display: table-cell;
  vertical-align: middle;
}

.centered {
  margin: 0 auto !important;
}

.margin--no {
  margin: 0 !important;
}

.margin--notop {
  margin-top: 0 !important;
}

.margin--nobottom {
  margin-bottom: 0 !important;
}

.margin--b {
  margin-bottom: 15px !important;
}

.margin--halfb {
  margin-bottom: 8px !important;
}

.margin--halft {
  margin-top: 8px !important;
}

.margin--t {
  margin-top: 15px !important;
}

.margin--doublet {
  margin-top: 30px !important;
}

.margin--triplet {
  margin-top: 45px !important;
}

.margin--tx4 {
  margin-top: 60px !important;
}

.margin--tx5 {
  margin-top: 75px !important;
}

.margin--doubleb,
.margin--bx2 {
  margin-bottom: 30px !important;
}

.margin--tripleb {
  margin-bottom: 45px !important;
}

.margin--l {
  margin-left: 10px !important;
}

.margin--halfll {
  margin-left: 5px !important;
}

.margin--r {
  margin-right: 10px !important;
}

.margin--halfr {
  margin-right: 5px !important;
}

.margin--reset > :first-child, .dashboard-sections a > :first-child, .box-shadow > :first-child, .modal-header > :first-child {
  margin-top: 0 !important;
}
.margin--reset > :last-child, .dashboard-sections a > :last-child, .box-shadow > :last-child, .modal-header > :last-child {
  margin-bottom: 0 !important;
}

.padding--t {
  padding-top: 20px !important;
}

.padding--b {
  padding-bottom: 20px !important;
}

.padding--top2x {
  padding-top: 40px !important;
}

.padding--bot2x {
  padding-bottom: 40px !important;
}

.padding--top3x {
  padding-top: 60px !important;
}

.padding--bot3x {
  padding-bottom: 60px !important;
}

.padding--top4x {
  padding-top: 80px !important;
}

.padding--bot4x {
  padding-bottom: 80px !important;
}

.padding--vert {
  padding-top: 28px !important;
  padding-bottom: 28px !important;
}

.padding--vert2x {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.padding--notop {
  padding-top: 0 !important;
}

.padding--nobottom {
  padding-bottom: 0 !important;
}

.padding--halft {
  padding-top: 10px !important;
}

.padding--halfb {
  padding-bottom: 10px !important;
}

.padding--no {
  padding: 0 !important;
}

.padding--nol, .padding--l0 {
  padding-left: 0 !important;
}

.padding--nor, .padding--r0 {
  padding-right: 0 !important;
}

.padding--15px {
  padding: 15px !important;
}

.padding--r5px {
  padding-right: 5px !important;
}

.padding--l15px {
  padding-left: 15px !important;
}

.padding--r15px {
  padding-right: 15px !important;
}

.clear {
  clear: both !important;
}

.flleft {
  float: left !important;
}

.flright {
  float: right !important;
}

@media only screen and (min-width: 768px) {
  .flright--responsive-mob {
    float: right !important;
  }
}

.clearfix {
  overflow: hidden;
  *zoom: 1;
}

.cfov:before, [role="form"]:before, .cfov:after, [role="form"]:after {
  content: " ";
  display: table;
}
.cfov:after, [role="form"]:after {
  clear: both;
}
.cfov, [role="form"] {
  *zoom: 1;
}

.lh1, .btn {
  line-height: 1 !important;
}

.lh2 {
  line-height: 1.9 !important;
}

.lh30 {
  line-height: 30px !important;
}

.lh32 {
  line-height: 32px !important;
}

.rotate90, .js-toggler.on i {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.toggled {
  display: none;
}

.phototiles__item img, .noflicker, button, input[type="submit"] {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-perspective: 1000;
  -webkit-perspective: 1000;
  perspective: 1000;
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.box-shadow {
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  background: #fff;
}

.pointer {
  cursor: pointer !important;
}

.cursor-default {
  cursor: default !important;
}

.por, h1, h2, h3, h4, h5, h6, .dashboard-sections a, .box-shadow, .modal-header {
  position: relative !important;
}

.poa, .modal-header .close {
  position: absolute !important;
}

.poa--t20 {
  top: 20px;
}

.poa--r20 {
  right: 20px;
}

.clicky {
  position: relative !important;
  top: 1px !important;
}

.abs-aligned {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.text--dark {
  color: #333 !important;
}

.text--blue,
.text--action {
  color: #3289cd !important;
}

.text--bluegrey {
  color: #85A1B3 !important;
}

.text--white {
  color: #fff !important;
}

.text--highlight {
  background: #ff6 !important;
  padding: 0 2px !important;
}

.text--upper, .toggle--dashboard-menu, .dashboard-sections a h2, .dashboard-sections a h3, .dashboard-sections a h4, .btn {
  text-transform: uppercase !important;
}

.text--lower {
  text-transform: lowercase !important;
}

.text--ttnone {
  text-transform: none !important;
}

.text--sans {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.text--italic {
  font-style: italic !important;
}

.text--nowrap, .tooltip {
  white-space: nowrap !important;
}

.text--thinnest {
  font-weight: 200 !important;
}

.text--thin {
  font-weight: 300 !important;
}

.text--normal, .dashboard-menu__logo a, .tooltip {
  font-weight: 400 !important;
}

.text--thick {
  font-weight: 600 !important;
}

.text--bold, .toggle--dashboard-menu, .modal-header .close, .btn {
  font-weight: 700 !important;
}

.text--bolder {
  font-weight: 800 !important;
}

.text--boldest {
  font-weight: 900 !important;
}

.text--lsp {
  letter-spacing: .2em !important;
}

.text--lspn {
  letter-spacing: normal !important;
}

.text--giga {
  font-size: 96px !important;
}

.text--mega {
  font-size: 72px !important;
}

.text--megasm {
  font-size: 60px !important;
}

.text--kilo {
  font-size: 48px !important;
}

.text--64 {
  font-size: 64px !important;
}

.text--32 {
  font-size: 32px !important;
}

.text--30 {
  font-size: 30px !important;
}

.text--20 {
  font-size: 20px !important;
}

.text--18 {
  font-size: 18px !important;
}

.text--16 {
  font-size: 16px !important;
}

.text--15 {
  font-size: 15px !important;
}

.text--14 {
  font-size: 14px !important;
}

.text--h0 {
  font-size: 2.8em !important;
}

.text--h1 {
  font-size: 2.3em !important;
}

.text--h2 {
  font-size: 2.2em !important;
}

.text--h3 {
  font-size: 1.8em !important;
}

.text--h4 {
  font-size: 1.5em !important;
}

.text--h5 {
  font-size: 1.2em !important;
}

.text--h6 {
  font-size: 1em !important;
}

.text--default {
  font-size: 13px !important;
}

.text--mini, .header--dashboard a, .help-block {
  font-size: 13px !important;
}

.text--milli {
  font-size: 12px !important;
}

.text--11 {
  font-size: 11px !important;
}

.text--micro, .dashboard-menu .copyright {
  font-size: 10px !important;
}

.text--nobreak {
  word-break: normal !important;
}

.word-break {
  word-break: break-word;
  word-wrap: break-word;
}

.center, .pagination {
  text-align: center !important;
}

.aleft {
  text-align: left !important;
}

.aright {
  text-align: right !important;
}

.aright--responsive {
  text-align: left !important;
}
@media only screen and (min-width: 992px) {
  .aright--responsive {
    text-align: right !important;
  }
}

.width--1em {
  width: 1em;
  text-align: center;
}

.img--auto {
  width: auto;
  height: auto;
}

.brdr--0 {
  border: 0 !important;
}

.rounded, .btn {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.circle {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.form-control {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  padding: 4.5px 10px;
  height: auto;
  border-color: #B9C3CA;
  font-size: 14px;
  border-radius: 0;
}
.form-control:focus {
  border-color: #999;
}
.form-control.form-control--lg {
  padding: 12px 10px;
}
.form-control[disabled] {
  background-color: #fff;
  opacity: .6;
}
.form-control[readonly] {
  background-color: #fff;
  cursor: text;
}
.form-control.with-search-icon {
  background-image: url('../img/bg-input-search.png');
  background-position: 98% 50%;
  background-repeat: no-repeat;
}
.form-control.no-border {
  border: 1px solid transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input.fill {
  margin: 0 3px;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #333;
  color: #666666;
  font-size: 14px;
  line-height: 1;
}
input.fill:focus {
  outline: 0;
  border-bottom: 1px solid #666666;
}

.form--lg .form-control {
  padding: 10px;
}
.form--lg .btn {
  padding: 14px 25px 13px;
}

.form-control:-moz-placeholder {
  color: #999999;
  font-size: 14px;
}

.form-control::-moz-placeholder {
  color: #999999;
  font-size: 14px;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #999999;
  font-size: 14px;
}

.form-control::-webkit-input-placeholder {
  color: #999999;
  font-size: 14px;
}

textarea {
  line-height: normal !important;
  resize: vertical;
  overflow: auto;
}

button, input[type="submit"] {
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
button:active, button:focus, input[type="submit"]:active, input[type="submit"]:focus {
  outline: none !important;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select.form-control {
    cursor: pointer;
    -webkit-appearance: none;
    padding-right: 30px !important;
    background-image: url('../img/bg-select.png');
    background-position: 100% 50%;
    background-repeat: no-repeat;
  }
}
.modal-backdrop {
  z-index: 9999999;
}

.modal {
  z-index: 10000000;
}
.modal--full {
  padding-left: 0 !important;
}
.modal--full .modal-dialog {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
.modal--full .modal-dialog .modal-body {
  overflow: auto;
  border-bottom: solid 1px #d0d3d5;
  margin-bottom: 10px;
}
.modal--full .dashboard-content {
  padding: 0 !important;
  max-width: 2000px;
}
.modal--full .dashboard-content ul {
  margin-right: -15px;
}
@media only screen and (min-width: 992px) {
  .modal--full .dashboard-content ul {
    margin-right: -30px;
  }
}
.modal--full .dashboard-content ul .phototiles__iteminner {
  cursor: pointer;
}

.modal-dialog--movable {
  transition: margin 0.5s !important;
}

.modal-content {
  background: #f5f5f7;
  border: 0;
  border-radius: 0;
}

.modal-header {
  padding: 5px 15px;
  border: 0;
  background: #363c40;
  color: #f5f5f5;
}
.modal-header .close {
  top: 10px;
  right: 12px;
  z-index: 100;
  color: #fff;
  opacity: 1;
  cursor: pointer;
}
.modal-header .close:hover {
  opacity: 1;
}

.modal-footer {
  border: 0;
  margin: 0;
  padding-top: 0;
}

.modal-body.modal-body--plr0 {
  padding-left: 0;
  padding-right: 0;
}

.modal .form-group:last-child {
  margin-bottom: 0;
}

.btn {
  margin-bottom: 1px;
  padding: 9px 13px;
  border: 0;
  font-size: 13px;
}
.btn strong {
  font-size: 20px;
}
.btn:last-child {
  margin-bottom: 1px !important;
}
.media__body > .btn:last-child, .flag__body > .btn:last-child {
  margin-bottom: 1px !important;
}
.roundtable .btn, .dashboard-content .btn {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 0 !important;
}

.btn-sm {
  padding: 6px 13px;
}

.btn-noshadow {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-noshadow:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-group {
  margin-bottom: em(8);
}
.btn-group.btn-group--widest {
  width: 100%;
}
.btn-group:last-child {
  margin-bottom: 0;
}

.btn-default {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent none;
}
.btn-default:hover {
  background: transparent none;
}
.btn-default:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
  background-image: none;
}

.btn-normal {
  font-weight: normal !important;
  text-transform: none !important;
  color: #85A1B3;
}
.btn-normal:hover {
  color: #333;
}

.btn-primary {
  background-color: #6fbae7;
  color: white;
}
.roundtable .btn-primary, .dashboard-content .btn-primary {
  background: #6fbae7;
  color: #fff;
}
.roundtable .btn-primary:active, .roundtable .btn-primary:focus, .roundtable .btn-primary:hover, .dashboard-content .btn-primary:active, .dashboard-content .btn-primary:focus, .dashboard-content .btn-primary:hover {
  background: #89c7eb;
  color: #fff;
}
.btn-primary:hover {
  background-color: #55ade3;
  color: white;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: white;
  background-color: #4ca9e1;
  border-color: #6fbae7;
}

.btn-primarywhite {
  background-color: white;
  color: #36a9ed;
  text-transform: none !important;
  font-weight: 400 !important;
}
.btn-primarywhite:hover {
  background-color: white;
  color: black;
}

/* Bordered */
.btn-b-blue {
  background-color: #c4d9e6;
  color: #44728d;
  -webkit-box-shadow: inset 0 0 1px #1b90d4 !important;
  -moz-box-shadow: inset 0 0 1px #1b90d4 !important;
  -ms-box-shadow: inset 0 0 1px #1b90d4 !important;
  box-shadow: inset 0 0 1px #1b90d4 !important;
}
.btn-b-blue:hover {
  background-color: #8eb6cf;
  color: #44728d;
}

.btn-disabled {
  color: #abafb2;
  background: #d1d1d1;
}
.btn-disabled:hover {
  color: #abafb2;
  background: #d1d1d1;
}

.btn-wide {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.btn-wide--xl {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.btn-lg {
  padding: 18px;
}
@media only screen and (min-width: 768px) {
  .btn-lg {
    padding: 18px 60px;
  }
}

.btn-xlg {
  padding: 18px;
  font-size: 16px;
}
@media only screen and (min-width: 768px) {
  .btn-xlg {
    padding: 18px 75px;
  }
}

.btn-md {
  padding: 16px 22px;
}

.btns-line .btn {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .btns-line .btn {
    width: auto;
  }
}
.btns-line .btn:not(.first-in-line) {
  margin-top: 15px;
}
@media only screen and (min-width: 768px) {
  .btns-line .btn:not(.first-in-line) {
    margin-top: inherit;
  }
}

.popover {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

th.v0 {
  min-width: 100px;
}
th.v1 {
  min-width: 140px;
}
th.v2 {
  min-width: 200px;
}

td {
  vertical-align: middle !important;
}
td a {
  display: block;
}

option {
  color: #555555;
}

.alert-danger {
  color: #fff;
  background-color: #f38282;
  border: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 10px;
}
.alert-danger ul {
  list-style-type: none;
}
.alert-danger ul li {
  text-align: center;
}

.ui-pnotify-title {
  line-height: 17px;
  display: inline-block;
}

.ui-pnotify-closer, .ui-pnotify-sticker {
  position: relative;
  z-index: 10;
}

.mce-container, .mce-container-body, .mce-menu {
  background: #f1f4f6 !important;
  border-color: #bcc2c6 !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0;
  border-radius: 0 !important;
}
.mce-container .mce-btn, .mce-container-body .mce-btn, .mce-menu .mce-btn {
  border: 0 !important;
  box-shadow: none !important;
}
.mce-container .mce-btn:hover, .mce-container-body .mce-btn:hover, .mce-menu .mce-btn:hover {
  background: none !important;
}
.mce-container .mce-btn button, .mce-container-body .mce-btn button, .mce-menu .mce-btn button {
  background: #f1f4f6 !important;
  opacity: 1 !important;
  border: solid 1px transparent !important;
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px;
  border-radius: 3px !important;
}
.mce-container .mce-btn button:hover, .mce-container-body .mce-btn button:hover, .mce-menu .mce-btn button:hover {
  border: solid 1px #bcc2c6 !important;
}
.mce-container .mce-btn button i, .mce-container-body .mce-btn button i, .mce-menu .mce-btn button i {
  text-shadow: none !important;
}
.mce-container .mce-btn.mce-active button, .mce-container-body .mce-btn.mce-active button, .mce-menu .mce-btn.mce-active button {
  border: solid 1px #bcc2c6 !important;
}
.mce-container .mce-menu-item:hover, .mce-container-body .mce-menu-item:hover, .mce-menu .mce-menu-item:hover {
  background: #6fbae7;
  color: white;
}

.mce-panel {
  background-image: none !important;
}

.mce-foot .mce-btn.mce-primary.mce-first button {
  background: #6fbae7 !important;
  color: white;
  -moz-border-radius: 2px !important;
  -webkit-border-radius: 2px;
  border-radius: 2px !important;
  padding: 9px 13px;
  border: 0 !important;
  font-size: 13px;
  font-weight: bold;
  text-shadow: none !important;
  text-transform: uppercase;
}
