<!DOCTYPE html>
{% spaceless %}
    <html xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml"  xmlns:og="http://opengraphprotocol.org/schema/" lang="fr" xml:lang="fr">
        <head>
            <meta charset="UTF-8" />        
            <meta name="keywords" content="Cameroun, CDS Technologie SARL, Fibre optique,Cameroon.">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />        
            <meta property="og:type" content="website">       
            <meta property="og:site_name" content="www.cdstechnologie.com">
            <meta name="viewport" content=" initial-scale=1.0">
            <meta name="description" content="CDS TECHNOLOGIES Sarl est une entreprise de droit Camerounais à vocation sous régionale. Dont la création résulte d'une réelle volonté de ses fondateurs, de disposer dans le domaine des télécommunications au Cameroun, d’une grande entreprise pouvant offrir aux usagers de meilleurs prestations, une gamme variée de produits et de services innovants.">
            {% block meta %}
                <meta property="og:url" content="http://www.cdstechnologie.com/">
                <meta property="og:image" content="http://www.cdstechnologie.com/{{ asset('img/logo.gif') }} ">
                <meta property="og:title" content="CDS TECHNOLOGIE SARL">
                <meta property="og:description" content="CDS TECHNOLOGIES Sarl est une entreprise de droit Camerounais à vocation sous régionale. Dont la création résulte d'une réelle volonté de ses fondateurs, de disposer dans le domaine des télécommunications au Cameroun, d’une grande entreprise pouvant offrir aux usagers de meilleurs prestations, une gamme variée de produits et de services innovants." />
            {% endblock %}

            <title>{% block title %} Accueil {% endblock %} - CDS TECHNOLOGIE SARL</title>
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
            {% stylesheets filter='uglifycss'  "assets/bootstrap/css/bootstrap.css" "assets/fa/css/fa.css" '@BlogArticleBundle/Resources/public/css/header.css' "assets/main/css/main.css"   %}
            <link rel="stylesheet" href="{{ asset_url }}">
            {% endstylesheets %}
            {% javascripts filter="uglifyjs2" output='js/compiled_*.js'  "@BlogArticleBundle/Resources/public/js/jquery-2.1.0.min.js" 'bundles/fosjsrouting/js/router.js' '@BlogArticleBundle/Resources/public/js/loadingRoute.js' %}  
            <script src="{{ asset_url }}"></script> {% endjavascripts %}
            <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.png') }}" />
    </head>
    <body style="padding: 0px;">


        {% block header %}        
            {{render(controller('BlogArticleBundle:Tool:header')) }}
        {% endblock %}
        {% block body %}
        {% endblock %}

        {% block footer %} {{render(controller('BlogArticleBundle:Tool:footer')) }}{% endblock %}

    </div>
    {% javascripts filter="uglifyjs2" output='js/compiled_*.js'   "@BlogArticleBundle/Resources/public/js/scrollReveal.min.js"     '@BlogArticleBundle/Resources/public/js/bootstrap.min.js' "@BlogArticleBundle/Resources/public/js/classie.js"   %}  
    <script src="{{ asset_url }}"></script> {% endjavascripts %}
    <script>
        function init() {
            window.addEventListener('scroll', function(e) {
                var distanceY = window.pageYOffset || document.documentElement.scrollTop,
                        shrinkOn = 250,
                        header = document.getElementById("header");
                if (distanceY > shrinkOn) {
                    classie.add(header, "smaller");
                } else {
                    if (classie.has(header, "smaller")) {
                        classie.remove(header, "smaller");
                    }
                }
            });
        }
        window.onload = init();
        $(document).ready(function() {
            $("#array").click(function() {
                $("body").animate({scrollTop: $(window).height()- 60}, 1500);
            })
        })

    </script>
    {% block javascripts %}

    {% endblock %}



</body>
</html>
{% endspaceless %}