#slideshox
{
    display:inline-block;
    vertical-align:top;

    border-radius: 10px 10px 0px 0px;
    background: #7d7e7d; /* Old browsers */
    background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
    background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
    padding:3px;
}
#myCarousel{
    overflow: hidden;        
    height: 100%;
}
#myCarousel h1{
        color: #FF1D60;
    text-shadow: 1px 0px white;
    font-size: 28px;
 
}
#myCarousel img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px; 
}
.carousel-indicators
{
    text-align: center;
}
.carousel-indicators .active {
    width: 15px;
    height: 15px;
    margin: 0px;
    background-color: #FFF;
}
.carousel-indicators li {
    border: 1px solid #FFFFFF;
}
.carousel-control.right,.carousel-control.left
{
    background: none;
    font-size: 50px;
    text-shadow: 1px 1px #333;
    background-image: none;
}
#slide_wrapper{
    overflow: hidden;

    height:280px;
}


#slider {
    height:280px;
    overflow: hidden;
}
#control
{
    height:40px;
    z-index:10;
    width:200px;
    position:absolute;
    margin-left:788px;
    margin-top:-69px;	
}
.control {
    display:block;
    width:40px;
    background:#FC871E;
    height:40px;
    display:none;
    text-indent:-10000px;
    position:absolute;
    cursor: pointer;
}
#leftControl {
    margin-top:-3px;	


}
#rightControl {
    margin-left:50px;  
    display:none;
}

.carousel-caption {
    left: 0px;
    /* right: 0px; */
    padding-bottom: 30px;
    background: rgba(255,255,255,0.2);
    width: 100%;
    top: 43%;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next{
    margin-top: -63px;
}

@media screen and (max-width: 768px) {

    .carousel-caption {
        top: 10%;
        bottom: 10px;
        padding-top: 0px;
    }

    .carousel-caption  h1
    {
        font-size: 20px
    }
}

@media screen and (min-width: 768px)
{
    .carousel-indicators {
        bottom: -13px;
    }
}
