label.required{color:#dd8282;font-weight:500}.form-control{border-radius:0;margin-bottom:10px}#cool{background:#fffab3;margin-bottom:20px}.grey{padding:20px}textarea.form-control{height:150px}form .btn{background:#dd8282;border-radius:0;border:0;padding:10px 50px}