/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 janv. 2014, 11:44:22
    Author     : genius
*/
.wrap_info
{
    padding: 0px;
    border-radius: 5px;
    margin-top: 20px;
    height: 178px;
    overflow: hidden;
}
.info_title
{
    padding: 0px 10px;
    text-align: right;
}
.wrap_info h2{ 
    font-size: 16px;
    font-weight: 800;
    text-shadow: none;
    color: white;
}
.wrap_info h2 span{
    font-weight: 500;
    font-size: 12px;
    text-align: justify;
    color: white;
    font-weight: 700;
}
.info_img{
    overflow: hidden;
    height: 98px;
    padding:0px
}
.info_img img,.wrap_info3 img{
    width: 100%
}
.info_form{
    padding: 20px 5px;
    min-height: 128px;
}
.info_form .form-control
{
    margin-bottom: 10px
}
.info_form .btn{
    background: #525254;
    border: none;
    padding: 4px 0px;
    font-size: 12px;
}
.wrap_info3
{
    background: rgb(217,217,217);
    margin-top: 20px;
    border-radius: 5px;
    height: 178px;
    overflow: hidden;
    overflow: hidden;
    padding: 0px;
}
.wrap_info3 .info_img
{
    height: 200px !important;
}
.wrap_info3 p{
    margin: 0 0 10px;
    font-size: 13px;
    font-weight: 800;
    color: #333;
}
.news{
    margin-bottom: 12px;
    border-bottom: 1px solid #F1E5E5;
}
.news h3{
    margin-top: -5px;
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 20px;
}
.news p{
    margin: 0 0 10px;
    overflow: hidden;
    height: 88px;
    text-overflow: ellipsis;
    text-align: justify;
}
.news .btn, .btn-default
{
    background: #525254;
    border: 0;
    padding: 4px 10px;
    font-size: 12px;
    color: white;
    margin-bottom: 10px;

}
.news h4{
    text-transform: uppercase;
    font-weight: 800;
    color: #666;
    font-size: 15px;

}
#myCarousel
{ 
    overflow: hidden;
}
#first-block
{
    background: #46629E;
    margin-top: -30px;
}
#parchemin{
    background: #FAC117;
    height: 274px;
    margin-left: -14px;
}
#etude
{
    margin-top: 31px;
    background: #D2176C;
    color: white;
    font-weight: 800;
    margin-bottom: -4px;
}

#etude h2
{
    font-size: 48px;
    font-weight: 800;
    margin: 0px;
}
@media screen and (max-width: 768px) {
   
    .wrap_info
    {
        border-radius: 0px;
    height: 143px !important;

    }
    
    .news .btn {
    margin-top: 10px !important;
}
    .wrap_info h2 {
        font-size: 26px;
    }
    .wrap_info h2 span
    {
        font-size: 19px; 
    }

    .wrap_info3{
        border-radius: 0px;
    }
    .wrap_info3 p {
        font-size: 16px;
    }
    .wrap_info2 {
        margin-bottom: 30px;
    }
    .news img
    {
        margin-bottom: 10px;
    }
    .news
    {
        padding: 0px;
    }

    #wrap_container
    {
        padding: 0px;
    }
}


