

#article_container
{
        background: #f5f5f5;
    margin-top: 19px;
}

.c-article {
    border-bottom: 1px dashed #ccc;
}
#right_col
{
    margin-top: 7px;
    padding: 0px;
}
#right_col .ele{
    border: 1px solid #E2E2E2;
    padding: 0px;
    overflow: hidden;
    border-radius: 2px;
    margin-top: 10px;
    background: #fff;
}
#right_col .recherche{
    padding: 0px;
}
#right_col .recherche button{
    padding: 8px 11px;
    margin-left: -4px;
    margin-top: 0px;
    position: absolute;
    background: #525254;
    color: white;
    border: none;
    border-radius: 0px 4px 4px 0px;
}
#right_col .recherche .form-control
{
    width: 89%;
    border-radius: 3px 0px 0px 4px;
}
.ele .ele_img_wrap
{
    padding: 0px;
    padding: 0px;
    overflow: hidden;
    height: 130px;
}
.ele .form-control
{
    margin-bottom: 10px;
}
.ele hr{
    margin: 0px;
}
#right_col .ele .title,#menu h3{
    padding: 10px;
    font-size: 17px;
    text-align: center;
    font-weight: 800;
    color: white;
    /* border-bottom: 2px dashed #ccc; */
    background: #d22a2a;
    border-radius: 0px;
}

#right_col .ele_body
{
    padding: 10px
}

@media screen and (max-width: 768px) {

    #right_col
    {
        padding: 10px;
    }
}