/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 mai 2017, 10:07:41
    Author     : Julien
*/
label.required {
    color: #dd8282;
    font-weight: 500;
}
.form-control {
    border-radius: 0px;
    margin-bottom: 10px;
}
#cool
{
    background:#fffab3;
    margin-bottom: 20px;
}
.grey {
    padding:  20px;
}
textarea.form-control {
    height: 150px;
}

form .btn
{
    background: #dd8282;
    border-radius: 0px;
    border: none;
    padding: 10px 50px;
}