/* Preload images */
body:after {
    content: url(../images/close.png) url(../images/loading.gif) url(../images/prev.png) url(../images/next.png);
    display: none;
}

body.lb-disable-scrolling {
    overflow: hidden;
}

.lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    display: none;
}

.lightbox {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10000;
    text-align: center;
    line-height: 0;
    font-weight: normal;
}

.lightbox .lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    border-radius: 3px;
}

.lightbox a img {
    border: none;
}

.lb-outerContainer {
    position: relative;
    background-color: white;
    *zoom: 1;
    margin: 0 auto;
    border-radius: 4px 4px 0px 0px;
}

.lb-outerContainer:after {
    content: "";
    display: table;
    clear: both;
}

.lb-container {
    padding: 4px;
}

.lb-loader {
    position: absolute;
    top: 43%;
    left: 0;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}

.lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
}

.lb-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.lb-container > .nav {
    left: 0;
}

.lb-nav a {
    outline: none;
    background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
    height: 100%;
    cursor: pointer;
    display: block;
}

.lb-nav a.lb-prev {
    width: 34%;
    left: 0;
    float: left;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.lb-nav a.lb-next {
    width: 64%;
    right: 0;
    float: right;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.lb-dataContainer {
    margin: 0 auto;
    background: #383838;
    background-color: white;
    border-radius: 0px 0px 4px 4px ;
    margin-top:0px !important;
    padding: 5px 0px !important;
    border-top: 1px dashed #ccc !important;
    width: 100%;

}
.og-close {
    width: 25px;
    height: 25px;
    top: 0px;
    cursor: pointer;
    background: #FFED5B; /* Old browsers */
    background: -moz-linear-gradient(top, #FFED5B 0%, #FFED5B 50%, #FFE001 51%, #FFE001 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #FFED5B 0%,#FFED5B 50%,#FFE001 51%,#FFE001 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #FFED5B 0%,#FFED5B 50%,#FFE001 51%,#FFE001 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFED5B', endColorstr='#FFE001',GradientType=0 ); /* IE6-9 */
    position: absolute;
    border-radius: 60px;
    box-shadow: 2px 2px #B6A217;
    z-index: 1000;
}

.og-close::before,
.og-close::after {
    content: "";
    position: absolute;
    width: 78%;
    top: 50%;
    height: 2px;
    background: #000 none repeat scroll 0px 0px;

    margin-left: -26px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1000;

}

.og-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
    background: #333;
}
.lb-dataContainer a
{
    color: #383636 !important;
    font-size: 20px;
}
.lb-dataContainer .prix
{
    color: #014c82;
    font-size: 20px;
    font-family: fantasy,Arial,Helvetica,sans-serif;
    font-weight: 800;
    letter-spacing: -2px;
    margin-right: 10px;
}

.lb-dataContainer:after {
    content: "";
    display: table;
    clear: both;
}

.lb-data {
    padding: 0 4px;
    color: #ccc;
}

.lb-data .lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1em;
}

.lb-data .lb-caption {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5em;
    text-shadow: none !important;
    color: #333;
    padding-left: 10px;
}
.lb-data .lb-caption .info
{
    line-height: 1.2;
    font-size: 11px;
    padding: 0px;
    color:#ADADAD;
}

.lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999999;
}

.lb-data .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    text-align: right;
    outline: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
    z-index: 1000;
}

.lb-data .lb-close:hover {
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
