/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 mai 2017, 10:07:41
    Author     : Julien
*/
p{
    color: #000;
}
h2
{color: #1539b6;
}
#back-container
{
    text-shadow: 1px 1px #000;
    color:white;
}
.breadcrumb,.pagination-right
{
    margin-bottom: 0px;
}
#back-container p
{
    text-shadow: none !important;
}
#back-container hr{
    border-top: 5px solid #eee;
}
.service-image{
    border-radius: 15px;
    padding: 0px;
    overflow: hidden;
}
.service-image img{
    width: 100%
}

.block p{
    margin-top: 40px;
    color: #333;
    text-align: justify;
    padding: 0px 15px;


}
.product2
{
    padding: 10px;
    height: 299px;
}
.product2 .img-center
{
    display: block!important;
    text-align: center;
    height: 100%!important;
    margin: auto;
    width: 100%;
}
.produit {
    box-shadow: 0px 0px 5px #ccc;
    margin-top: 15px;

    padding: 15px;
}
.produit .img-container
{
    width: 100%;
    overflow: hidden;
    height: 130px;
    margin-bottom: 7px;
}
.produit h4
{
    font-size: 25px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
    margin-top: 0px;
}
.produit .img-container img {
    /* width: 100%; */
    height: 100%;
}
.produit .text-left span

{
    color: #cc6767;
    font-size: 12px;
    letter-spacing: 2px;

}
.produit p
{
    width: 287px;
    text-align: justify;
    margin-top: 14px;
}
.produit  .dispo,.produit .indispo
{
    color: white;
    margin-right: 10px;
    padding: 12px 25px;
    font-size: 19px;
    border-radius: 47px;
}

.produit-descr
{
    padding: 0px;
    background: white;
}
.produit-descr .text-center
{
    padding:3px;
    cursor: pointer;
}
.produit-descr .text-center:hover
{
    background: #eee;
}
.produit-descr p
{
    width: 100% !important;
}