<footer class="footer-black footer">
    <div class="container">
        <div class="row">
            <div class="footer-body">
                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
                    <div class="_title">A PROPOS</div>
                    <p>
                        <span class="main">CDS TECHNOLOGIES Sarl</span> est une entreprise de droit Camerounais à vocation sous régionale dont la création résulte d'une réelle volonté de ses fondateurs, de disposer dans le domaine  des télécommunications au Cameroun.
                    </p>                
                </div>
                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
                    <div class="_title">LIENS UTILES</div>
                    <ul class="list-unstyled">
                        <li >
                            <a href="{{ path("home")}}">
                                > Accueil
                            </a>
                        </li>
                        <li >
                            <a  href="{{ path("service")}}">
                                > Services
                            </a>
                        </li>
                        <li >
                            <a  href="{{ path("produit")}}">
                                > Produits
                            </a>
                        </li>
                        <li >
                            <a  href="{{ path("ed_blog_homepage")}}">
                                > Actualités
                            </a>
                        </li>
                        <li >
                            <a  href="{{ path("contact")}}">
                                > Contact
                            </a>
                        </li>
                        {% if is_granted('ROLE_BLOG_USER') %}
                            <li ><a href="{{ path('sonata_admin_dashboard') }}">  > Administration Generale</a></li>
                            <li ><a href="{{ path('fos_user_security_logout') }}">  > Deconnexion</a></li>

                        {% else %}
                            <li ><a href="{{ path('fos_user_security_login') }}">  > Connexion</a></li>
                            {% endif %}
                        
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
                    <div class="_title">CONTACTEZ NOUS</div>
                    <ul class="list-unstyled">
                        <li>
                            <span class="text-gray"> <b style="color: white;" class="glyphicon glyphicon-map-marker"></b> <strong>Direction Générale, </strong> BP : 8200 Bali Douala Cameroun </span>
                        </li>
                        <li>
                            <span class="text-gray"> <b style="color: white;" class="glyphicon glyphicon-phone"></b> (237) 233 41 64 75 | (237) 691 100 592</span>
                        </li>
                        <li>
                            <span class="text-gray"><b style="color: white;" class="glyphicon glyphicon-time"></b> LUNDI - SAMEDI : 08.00 - 18.00</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="subfooter">
                    Copyright &copy 2017 CDS Technologies Sarl. Réalisé par <a href="http://www.3mesoft.com">3mesoft</a>
                </div>
            </div>
        </div>
    </div>
</footer>
{#
<div class="bg-blue marginTop-lg footer-bar hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <span class="text-white">VOUS SATISFAIRE, NOTRE PRIORITE</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
                <a href="{{ path("contact")}}" class="btn btn-white">
                    NOUS CONTACTER
                </a>
            </div>
        </div>
    </div>
</div>


<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="title">
                    <img src="{{ asset("assets/img/logo.png") }}" alt="" class="img-responsive" style="
    background: white;
    padding: 10px;
    border-radius: 10px;
">
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro illo labore excepturi, ab, dolorem placeat. Voluptatem, nostrum, delectus, excepturi eius perspiciatis minima qui et voluptas enim praesentium velit quas fuga.
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="text-blue title">Plan du site</div>
                <ul class="list-unstyled">
                    <li >
                        <a href="{{ path("home")}}">
                            Accueil
                        </a>
                    </li>
                    <li >
                        <a  href="{{ path("service")}}">
                            Services
                        </a>
                    </li>
                    <li >
                        <a  href="{{ path("produit")}}">
                            Produits
                        </a>
                    </li>
                    <li >
                        <a  href="{{ path("ed_blog_homepage")}}">
                            Actualités
                        </a>
                    </li>
                    <li >
                        <a  href="{{ path("contact")}}">
                            Contacts
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="text-blue title">CONTACT</div>
                <ul class="list-unstyled">
                    <li>
                        BP xxxx DLA CAMEROUN
                    </li>
                    <li>
                        <i class="fa fa-phone"></i> 237 xxx xxx xxx
                    </li>
                    <li>
                        <i class="fa fa-envelope"></i> contact@xxx.xxx
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="copyright" class="col-xs-12 text-right">
        <div class="container">
            © Copyright {{ "now"|date("Y") }} powered By <a target="_blank" href="http://www.3mesoft.com">3mesoft.com</a>
        </div>
    </div>
</footer>
#}