
<nav id="header" class="navbar navbar-fixed-top navbar-custom">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path("home")}}">
                <img src="{{ asset("assets/img/logo.png") }}" alt="Logo CDS " class="img-responsive"/>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">                    
            <ul class="nav navbar-nav navbar-right">
                <li {% if active == null %}class="active"{% endif %}>
                    <a href="{{ path("home")}}">
                        Accueil
                    </a>
                </li>
                <li {% if active == "service" %}class="active"{% endif %}>
                    <a  href="{{ path("service")}}">
                        Services
                    </a>
                </li>
                <li {% if active == "produit" %}class="active"{% endif %}>
                    <a  href="{{ path("produit")}}">
                        Produits
                    </a>
                </li>
                <li {% if active == "ref" %}class="active"{% endif %}>
                    <a  href="{{ path("ed_blog_homepage")}}">
                        Actualités
                    </a>
                </li>
                <li {% if active == "apropos" %}class="active"{% endif %}>
                    <a href="{{ path("apropos")}}">
                        A Propos
                    </a>
                </li>
                <li {% if active == "contact" %}class="active"{% endif %}>
                    <a  href="{{ path("contact")}}">
                        Contact
                    </a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>

